doctype html
html(lang='en')
    head
        title ⤻ ᴾᴸᴱᴺᴵ ⤻ ⛁
        link(rel='stylesheet',href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet',href='css/style.css')
    body(ng-app='PleniApp')
        header
            nav
                ul
                    li: a(href='/#/home') Home
                    li: a(href='/#/resources') Resources
                    li: a(href='/#/tasks') Tasks
                .clearfix
        #wrapper
            section(ng-view)
            footer
                nav
                    div.palette
                        span &nbsp;
                        span &nbsp;
                        span &nbsp;
                        span &nbsp;
                        span &nbsp;
                    ul
                        li: a(target='_BLANK',href='http://hiperborea.com.bo') Hiperbórea
                        li: a(target='_BLANK',href='http://github.com/hiperborea/pleni') Source code
                    .clearfix
        script(src='/jquery/dist/jquery.min.js')
        script(src='/json-editor/dist/jsoneditor.min.js')
        script(src='/angular/angular.js')
        script(src='/angular-route/angular-route.js')
        script(src='/angular-resource/angular-resource.js')
        script(src='/ngstorage/ngStorage.js')
        script(src='/js/app.js')
        script(src='http://localhost:35729/livereload.js')

