.grid.full.last
    nav.menu
        ul.items
            li
                .title
                    a(ng-click='apps.show()',accesskey='1') Apps
                    .right
                        span.r1(ng-bind='storage.apps.length')
                        a.r2.fa.fa-refresh(ng-click='apps.refresh()')
            li
                .title
                    a(ng-click='dbservers.show()',accesskey='2') Database Servers
                    .right
                        span.r1(ng-bind='storage.dbservers.length')
                        a.r2.fa.fa-refresh(ng-click='dbservers.refresh()')
            li
                .title
                    a(ng-click='planners.show()',accesskey='3') Planners
                    .right
                        span.r1(ng-bind='storage.planners.length')
                        a.r2.fa.fa-refresh(ng-click='planners.refresh()')
        include ../blocks/footer/bottom
    .main
        .messages
        section.apps
            h1 Apps
            include ../blocks/resources/list/apps
            include ../blocks/resources/form/apps
            include ../blocks/resources/remove/apps
        section.dbservers
            h1 DB Servers
            include ../blocks/resources/list/dbservers
            include ../blocks/resources/form/dbservers
            include ../blocks/resources/remove/dbservers
        section.planners
            h1 Planners
            include ../blocks/resources/list/planners
            include ../blocks/resources/form/planners
            include ../blocks/resources/remove/planners

