article.jumbotron
    .grid
        .c: img(src='svg/node1.svg')
        .c: img(src='svg/node2.svg')
        .c: img(src='svg/node3.svg')
        .c: img(src='svg/node4.svg')
        .l: img(src='svg/text.svg')

.grid
    article.description
        div
            h2 Fetch
            p Set repositories, planners, fetching, and get ready for capture of information.
        div
            h2 Analyze
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
        div
            h2 Visualize
            p Make data visualizations, for facilitate the analysis, the take of decisions and data mining.
        div
            h2 Automate
            p Schedule automatic tasks, avoids monotonous tasks, and follow it in anywhere, anytime.

.grid
    article.extra
        div
            h2 Documentation
            ul
                li: a API
                li: a Support
            .cleafix
        div
            h2 Connect
            ul
                li: a Contact us
            .clearfix
        div
            h2 About
            ul
                li: a Terms of Service
                li: a Privacy Policy
                li: a Security Policy
            .clearfix

.grid
    .icons
        ul
            li: a.fa.fa-hiperborea.big(href='http://hiperborea.com.bo/',target='_BLANK')
            li: a.fa.fa-github(href='http://github.com/hiperborea/pleni',target='_BLANK')
        .clearfix

