.grid.full.last
    nav.menu
        ul.items
            li
                .title
                    a(ng-click='dbservers.show()') Database Servers
                    .right
                        span.r1(ng-bind='storage.dbservers.length')
                        a.r2.fa.fa-refresh(ng-click='dbservers.refresh()')
            li
                .title
                    a(ng-click='repositories.show()') Repositories
                    .right
                        span.r1(ng-bind='storage.repositories.length')
                        a.r2.fa.fa-refresh(ng-click='repositories.refresh()')
            li
                .title
                    a(ng-click='planners.show()') Planners
                    .right
                        span.r1(ng-bind='storage.planners.length')
                        a.r2.fa.fa-refresh(ng-click='planners.refresh()')
            li
                .title
                    a(ng-click='notifiers.show()') Notifiers
                    .right
                        span.r1(ng-bind='storage.notifiers.length')
                        a.r2.fa.fa-refresh(ng-click='notifiers.refresh()')
        include ../blocks/footer/bottom
    .main
        .messages
        section.dbservers
            h1 DB Servers
            include ../blocks/resources/list/dbservers
            include ../blocks/resources/view/dbservers
            include ../blocks/resources/form/dbservers
            include ../blocks/resources/remove/dbservers
        section.repositories
            h1 Repositories
            include ../blocks/resources/list/repositories
            include ../blocks/resources/view/repositories
            include ../blocks/resources/form/repositories
            include ../blocks/resources/remove/repositories
        section.planners
            h1 Planners
            include ../blocks/resources/list/planners
            include ../blocks/resources/view/planners
            include ../blocks/resources/form/planners
            include ../blocks/resources/remove/planners
        section.notifiers
            h1 Notifiers
            include ../blocks/resources/list/notifiers
            include ../blocks/resources/view/notifiers
            include ../blocks/resources/form/notifiers
            include ../blocks/resources/remove/notifiers
        include ../blocks/footer

