extends ./base.jade

block link
    link(rel='stylesheet',href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet',href='/css/sites-dev.css')

block script
    script(src='/jquery/dist/jquery.min.js')
    script(src='/pushy-dyn/js/pushy.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    script(src='/d3/d3.min.js')
    script(src='/d3-tip/index.js')
    script(src='/js/sites.js')
    script(src='/js/controllers/sites/sites.js')
    script(src='/js/controllers/sites/map.js')
    script(src='/js/controllers/sites/menu.js')
    script(src='/js/controllers/sites/report.js')
    script(src='/js/visual/site.js')
    script(src='/js/factories/visual.js')

