extends ./base.jade

block link
    link(rel='stylesheet',href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet',href='/css/master.css')
    link(rel='stylesheet',href='/css/tasks.css')

block script
    script(src='/jquery/dist/jquery.min.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/json-editor/dist/jsoneditor.min.js')
    script(src='/angular/angular.min.js')
    script(src='/angular-route/angular-route.min.js')
    script(src='/angular-resource/angular-resource.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-socket-io/socket.min.js')
    script(src='/angular-cookies/angular-cookies.min.js')
    script(src='/ngstorage/ngStorage.min.js')
    script(src='/d3/d3.min.js')
    script(src='/d3-tip/index.js')
    script(src='/js/utils.js')
    script(src='/js/editor.js')
    script(src='/js/master.js')
    script(src='/js/filters.js')
    script(src='/js/factories/resources/dbservers.js')
    script(src='/js/factories/resources/repositories.js')
    script(src='/js/factories/resources/planners.js')
    script(src='/js/factories/resources/notifiers.js')
    script(src='/js/factories/resources/projects.js')
    script(src='/js/factories/resources/workspace.js')
    script(src='/js/factories/resources.js')
    script(src='/js/visual/site.js')
    script(src='/js/factories/auth.js')
    script(src='/js/factories/editor.js')
    script(src='/js/factories/socket.js')
    script(src='/js/factories/visual.js')
    script(src='/js/controllers/master/home.js')
    script(src='/js/controllers/master/signin.js')
    script(src='/js/controllers/master/signup.js')
    script(src='/js/controllers/master/header.js')
    script(src='/js/controllers/master/notifier.js')
    script(src='/js/controllers/master/resources.js')
    script(src='/js/controllers/master/projects.js')
    script(src='/js/controllers/master/workspace.js')
    script(src='http://localhost:35729/livereload.js')

