@font-face {
    font-family: 'Pleni';
    src: url('/fonts/tasks.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.ftasks, .frepos, .fextra {
    display: inline-block;
    font: normal normal normal 14px/1 Pleni;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div.main .tools ul li a.ftasks {
    font-size: 30px;
    padding-top: 5px;
}

.pleni-site-create:before { content: 'A'; }
.pleni-site-remove:before { content: 'B'; }
.pleni-site-fetch:before { content: 'C'; }
.pleni-site-monitoring:before { content: 'D'; }
.pleni-site-metadata:before { content: 'E'; }
.pleni-site-summarize:before { content: 'G'; }

.pleni-site:before { content: 'F'; }

.pleni-extra-get:before { content: 'a'; }
.pleni-extra-head:before { content: 'b'; }
.pleni-extra-post:before { content: 'c'; }
.pleni-extra-put:before { content: 'd'; }
.pleni-extra-delete:before { content: 'e'; }
.pleni-extra-trace:before { content: 'f'; }
.pleni-extra-options:before { content: 'g'; }
.pleni-extra-connect:before { content: 'h'; }
.pleni-extra-patch:before { content: 'i'; }

.pleni-extra-2xx:before { content: 'j'; }
.pleni-extra-3xx:before { content: 'k'; }
.pleni-extra-4xx:before { content: 'l'; }
.pleni-extra-5xx:before { content: 'm'; }

