.viewer(ng-show='storage.workspace.viewer!=\'none\'')
    .summary(ng-show='storage.workspace.viewer==\'summary\'')
        h1 summary
        table
            tbody
                tr
                    td url
                    td {{viewers.summary.url}}
                tr
                    td type
                    td {{viewers.summary.type}}
                tr
                    td created
                    td {{viewers.summary.ts_created}}
                tr
                    td modified
                    td {{viewers.summary.ts_modified}}
    .report(ng-show='storage.workspace.viewer==\'report\'')
        h1 report
        table
            thead
                tr
                    td(colspan='3')
                        h1 Header Information
            tbody
                tr
                    td(colspan='3')
                        h2 Server Header
                tr(ng-repeat='h1 in viewers.report.header_server')
                    th {{h1.key}}
                    td {{h1.value}}
                tr
                    td(colspan='3')
                        Status Header
                tr(ng-repeat='h1 in viewers.report.header_status')
                    th {{h1.key}}
                    td {{h1.value}}
                tr
                    td(colspan='3') Content-Type Header
                tr(ng-repeat='h1 in viewers.report.header_contenttype')
                    th {{h1.key}}
                    td {{h1.value}}
                tr
                    td(colspan='3') Powered-By Header
                tr(ng-repeat='h1 in viewers.report.header_poweredby')
                    th {{h1.key}}
                    td {{h1.value}}
            thead
                tr
                    td(colspan='3')
                        h1 Relations Information
            tbody
                tr
                    td(colspan='3')
                        Internal Relations
                tr(ng-repeat='h2 in viewers.report.refs')
                    th {{h2.key[0]}}
                    td {{h2.key[1]}}
                    td {{h2.value}}
                tr
                    td(colspan='3')
                        External Relations
                tr(ng-repeat='h2 in viewers.report.rels')
                    th {{h2.key[0]}}
                    td {{h2.key[1]}}
                    td {{h2.value}}
            thead
                tr
                    td(colspan='3')
                        h1 Hash List
            tbody
                tr(ng-repeat='h3 in viewers.report.hashes')
                    th {{h3.key}}
                    td {{h3.value[0]}}
                    td {{h3.value[1]}}


