article.remove.animate(ng-show='clients.env.view==\'remove\'')
    .title
        h2 Remove Client
        .close
            a.fa.fa-close(ng-click='clients.list()')
    .body
        form(ng-submit='clients.delete()')
            p.large Press the button if you want remove the registry for the client.
            p.offset.load
                span.hide.loader.fa.fa-spinner.fa-spin
                span.hide.message
            p.offset
                button(type='submit') Remove

