article.remove.animate(ng-show='notifiers.env.view==\'remove\'')
    .title
        h2 Remove notifier
        .close
            a.fa.fa-close(ng-click='notifiers.list()')
    .body
        form(ng-submit='notifiers.delete()')
            p.large Press the button if you want remove the registry for the notifier.
            p.offset.load
                span.hide.loader.fa.fa-spinner.fa-spin
                span.hide.message
            p.offset
                button(type='submit') Remove

