body, header, section, footer, div, h1, h2, h3, h4, h5, p, ul, li
    margin: 0
    padding: 0

body
    font-family: Garamond, Hoefler Text, Times New Roman, Times, serif
    font-size: 13pt

footer.panel
    background-color: rgb(238,238,238)
    position: fixed
    left: 10vw
    right: 10vw
    bottom: 0
    margin-bottom: 0

a
    cursor:pointer

#wrapper
    margin-top: 50px
    h1
        margin: 2.0rem 0
    h2
        margin: 1.0rem 0

.hide
    display: none

.size90
    font-size: 4.6rem
.extra-padding
    padding: 1.0rem

div#test
    display: inline;
    .loader
        position: absolute
        width: 2.7rem
        height: 2.7rem
        margin-top: 0.5rem
        margin-left: 1.5rem
        border: 0.5rem solid #000
        border-radius: 50%
        border-right-color: transparent
        animation: spin 2s linear infinite
    .result
        margin-left: 1.5rem
    .ok
        color: green
    .fail
        color: red

@keyframes spin
    from {
        transform: rotate(0deg)
        opacity: 0.8
    }
    50% {
        transform: rotate(180deg)
        opacity: 1.0
    }
    to {
        transform: rotate(360deg)
        opacity: 0.8
    }

#logo
    width: auto
    height: 20.0rem
    animation: spin 12s linear infinite

.jumbotron
    background-color: #a0a0a0
    background-image: url(/img/tile.svg)
    box-shadow: 0em -0.2em 0.7em #000000 inset
    h1
        small
            color: #505050


