doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://localhost:35729/livereload.js')
  body
    header
        block menu
            nav
                ul
                    li: a(href='/') /
                    li: a(href='/settings') /settings
                    li: a(href='/fetch') /fetch
    #wrapper
        .left
            block left
                div.clear
        #content
            block content
    footer
        p happy hacking!!

