@keyframes node1 {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.node1 {
    position: relative;
    top: 35%;
    left: 10%;
    animation: node1 10s linear infinite;
}

.node2 {
    position: relative;
    top: 35%;
    left: 10%;
    animation: node1 20s linear infinite;
}

