#canvas
#control(ng-controller='SocketController')
    .wrapper
        .status.fa.fa-circle-o-notch.fa-spin
        .url http://www.google.com.bo/qwera.asdf.asdfq.qw.er.hmtl
        .c1 100
        .c2 100
        .msg /qwer/asdlfkj/qlwkjg,dnf/qwperoiaf/qpweori/a.1.jpg/qwer/asdlfkj/qlwkjg,dnf/qwperoiaf/qpweori/a.1.jpg
        .clearfix
    
