#canvas
#control(ng-controller='SocketController')
    .wrapper
        .menu.fa.fa-cloud-download
        .url http://www.google.com.bo
        .c1 100
        .c2 100
        .msg 
        .status.fa.fa-circle-o-notch.fa-spin
        .clearfix

