#canvas
#control
    .wrapper
        .menu.fa.fa-bars(ng-click='menu()')
        .url http://www.google.com.bo
        .c1 100
        .c2 100
        .msg 
        .status
            span.fa.fa-circle-o-notch.fa-spin
        .clearfix

