#canvas
#control
    .wrapper
        .menu.fa.fa-bars(ng-click='menu()')
        .url {{url}}
        .c1 {{completed}}
        .c2 {{total}}
        .msg
            .wrapper {{message}}
        .status
            span.fa.fa-circle-o-notch(ng-class='{\'fa-spin\':waiting==true}')
        .clearfix

