.main
    .logo
    .central
        form
            input(type='text')
            input(type='submit',value='')
.footer
    ul
        li
            li: a.fa.fa-hiperborea.big(href='http://hiperborea.com.bo/',target='_BLANK')
            li: a.fa.fa-github(href='http://github.com/hiperborea',target='_BLANK')
        .clearfix

