.messages
section.main
    .logo
    .central
        form(ng-submit='send()')
            input(type='text',placeholder='Enter the url to analyze',ng-model='url')
            button(type='submit')
                i.fa.fa-cloud-download
    .clearfix
footer
    ul
        li: a.fa.fa-hiperborea.big(href='http://hiperborea.com.bo/',target='_BLANK')
        li: a.fa.fa-github(href='http://github.com/hiperborea',target='_BLANK')
#control(ng-controller='SocketController')
    .wrapper
        .menu.fa.fa-bars(ng-click='menu()')

