footer {
    flex-grow: 1;
    width: 100%;
    background-color: @color2;
    height: 10px;

    .extra {
        ul {
            list-style: none;
            float: left;
            li {
                float: left;
                width: 96px;
                background-color: @color3;
                a {
                    float: left;
                    .font3;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

}

