footer {
    position: fixed;
    width: 960px;
    bottom: 0;
    background-color: @color5;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    nav {
        div.notifier {
            float: left;
            margin: 0.635em 0 0 1.0rem;
        }
        ul {
            list-style: none;
            float: right;
            li {
                float: left;
                a {
                    float: left;
                    padding: 0.5rem 1.0rem;
                    text-decoration: none;
                    color: @color1;
                    .font2;
                    font-size: 0.85rem;
                    transition: 0.5s ease-in 0s;
                    &:focus, &:hover {
                        outline: none;
                        color: @color4;
                    }
                }
            }
        }
    }
}

