@color1: #100c17;
@color2: #658068;
@color3: #b5c9ab;
@color4: #aec1b9;
@color5: #d9ddd9;

@white: #ffffff;

@error_frg: #D8000C;
@error_bck: #FFBABA;
@info_frg: #00529B;
@info_bck: #BDE5F8;
@success_frg: #4F8A10;
@success_bck: #DFF2BF;
@warning_frg: #9F6000;
@warning_bck: #FEEFB3;

@import 'reset';
@import 'base';
@import 'd3';
@import 'pushy';

body {
    background-color: #ffffff;
    background-image: url('/img/canvas.svg');
}

#content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: 2s linear 0s;

    &.blocked {
        background-color: fade(@color2,50%);
    }
}

#canvas {
    top: 0;
    left: 0;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.message {
    @media(min-width: 600px){
        .font3;
        width: 20.0rem;
        margin-left: 60px;
        padding: 6px;
    }
    @media(max-width: 599px){
        .font4;
        width: 100vw;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 1.0rem;
    }

    &.error {
        background-color: @error_bck;
        color: @error_frg;
    }

    p {
        margin: 0;
        padding: 0;
        display: inline;
    }
    .close {
        float: right;
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;

    @media (min-width: 600px){
        flex-direction: row;
    }
    @media (max-width: 599px){
        flex-direction: column;
        margin-bottom: 3.0rem;
    }

    @logo_width: 120px;
    @logo_height: 120px;

    .logo {
        box-sizing: border-box;
        background-image: url('/img/qs-sites.svg');
        background-size: 100%;
        animation: rotate 4s linear infinite;
        -webkit-animation: rotate 4s linear infinite;

        @media (min-width: 700px){
            width: @logo_width;
            height: @logo_height;
            margin-right: @logo_width/6;
            float: left;
        }
        @media (min-width: 600px) and (max-width: 699px){
            width: @logo_width/1.2;
            height: @logo_height/1.2;
            margin-right: @logo_width/4;
            float: left;
        }
        @media (max-width: 599px){
            width: @logo_width/1.4;
            height: @logo_height/1.4;
            margin-bottom: 2.0rem;
        }
    }

    .central {
        form {
            display: flex;
            flex-direction: row;

            input[type='text'] {
                border: none;
                color: @color2;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @media (min-width: 700px){
                    .font2;
                    width: 20.0rem;
                    padding: 10px 20px;
                }
                @media (min-width: 600px) and (max-width: 699px){
                    .font3;
                    width: 16.0rem;
                    padding: 10px 20px;
                }
                @media (max-width: 599px){
                    .font3;
                    width: 75vw;
                    padding: 5px 10px;
                }
            }
            button[type='submit'] {
                border: none;
                background-color: @color2;
                color: @white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: 1.2s ease-out 0s;

                &:hover {
                    background-color: @info_frg;
                }

                @media (min-width: 700px){
                    .font2;
                    padding: 10px;
                }
                @media (max-width: 699px){
                    .font3;
                    padding: 10px;
                }
            }
        }
    }
}

footer {
    display: block;

    @media (min-width: 700px){
        margin-top: 2.0rem;
    }
    @media (min-width: 600px) and (max-width: 699px){
        margin-top: 3.0rem;
    }
    @media (max-width: 599px){
        display: none;
    }

    ul {
        list-style: none;
        float: left;

        @media (min-width: 700px){
            margin-left: 6.0rem;
        }
        @media (min-width: 600px) and (max-width: 699px){
            margin-left: 4.0rem;
        }

        li {
            float: left;
            font-size: 2.3rem;
            a {
                float: left;
                color: @white;

                @media (min-width: 700px){
                    margin: 0 4.0rem;
                }
                @media (max-width: 699px){
                    margin: 0 2.0rem;
                }
            }
        }
    }
}

#control {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    @height: 24px;

    .wrapper {
        width: 100%;
        height: @height;
        margin: 0 auto;
        padding: 0;

        color: @white;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: stretch;

        &>:nth-child(1){ background-color: @info_frg; }
        &>:nth-child(2){ background-color: darken(@color2,06%); }
        &>:nth-child(3){ background-color: darken(@color2,12%); }
        &>:nth-child(4){ background-color: darken(@color2,18%); }
        &>:nth-child(5){ background-color: darken(@color2,24%); }
        &>:nth-child(6){ background-color: darken(@color2,30%); }

        .status {
            width: 24px;
            height: @height;
            font-size: (@height - 7.5);
            box-sizing: border-box;
            padding: 4px;
        }
        .url {
            height: @height;
            box-sizing: border-box;
            overflow: hidden;

            @media (min-width: 641px){
                width: 220px;
                .font4;
                padding: 1px 5px 0 5px;
            }
            @media (max-width: 640px){
                width: 190px;
                .font6;
                padding: 4px 5px 0 5px;
            }
        }
        .c1,.c2 {
            width: 40px;
            height: @height;
            box-sizing: border-box;
            overflow: hidden;

            @media (min-width: 641px){
                .font4;
                padding: 1px 5px 0 6px;
            }
            @media (max-width: 640px){
                .font6;
                padding: 4px 9px 0 9px;
            }
        }
        .msg {
            .font4;
            height: @height;
            box-sizing: border-box;
            padding: 1px 5px 0 5px;
            overflow: hidden;

            flex: 1 1 auto;

            @media (min-width: 641px){
                .font4;
                padding: 1px 5px 0 6px;
            }
            @media (min-width:600px) and (max-width: 640px){
                .font6;
                padding: 4px 9px 0 9px;
            }
            @media (max-width:599px){
                display: none;
            }
        }
        .menu {
            width: 26px;
            height: @height;
            font-size: (@height - 7.5);
            box-sizing: border-box;
            padding: 4px;
            cursor: pointer;
        }
    }
}

.close {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 36px;
    color: @white;
    padding: 5px;
    cursor: pointer;
}
