@color1: #100c17;
@color2: #658068;
@color3: #b5c9ab;
@color4: #aec1b9;
@color5: #d9ddd9;

@white: #ffffff;

@error_frg: #D8000C;
@error_bck: #FFBABA;
@info_frg: #00529B;
@info_bck: #BDE5F8;
@success_frg: #4F8A10;
@success_bck: #DFF2BF;
@warning_frg: #9F6000;
@warning_bck: #FEEFB3;

@import 'reset';
@import 'base';
@import 'd3';

body {
    background-color: #ffffff;
    background-image: url('/img/canvas.svg');
}

#content {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    /*transition: 2s linear 0s;*/

    &.blocked {
        background-color: fade(@color2,50%);
    }
}

#canvas {
    top: 0;
    left: 0;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}

.message {
    .font3;
    width: 20.0rem;
    margin-left: 30px;
    padding: 6px;

    &.error {
        background-color: @error_bck;
        color: @error_frg;
    }

    p {
        margin: 0;
        padding: 0;
        display: inline;
    }
    .close {
        float: right;
    }
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    align-items: center;

    @logo_width: 120px;
    @logo_height: 120px;

    .logo {
        float: left;
        box-sizing: border-box;
        background-image: url('/img/qs-sites.svg');
        background-size: 100%;
        animation: rotate 4s linear infinite;
        -webkit-animation: rotate 4s linear infinite;

/*        @media (min-width: 600px){
            width: @logo_width;
            height: @logo_height;
            margin-right: @logo_width/6;
        }
        @media (min-width: 380px) and (max-width: 599px){
            width: @logo_width/1.5;
            height: @logo_height/1.5;
            margin-right: @logo_width/4;
        }
        @media (max-width: 379px){
            width: @logo_width/1.3;
            height: @logo_height/1.3;
            margin-bottom: 4.0rem;
        }*/
    }

    .central {
        form {
            display: flex;
            flex-direction: row;

            input[type='text'] {
                border: none;
                color: @color2;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;

                @media (min-width: 700px){
                    .font2;
                    width: 20.0rem;
                    padding: 10px 20px;
                }
                @media (min-width: 599px) and (max-width: 699px){
                    .font3;
                    width: 16.0rem;
                    padding: 10px 20px;
                }
                @media (max-width: 599px){
                    .font3;
                    padding: 5px 10px;
                }
            }
            button[type='submit'] {
                border: none;
                background-color: @color2;
                color: @white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                transition: 1.2s ease-out 0s;

                &:hover {
                    background-color: @info_frg;
                }

                @media (min-width: 700px){
                    .font2;
                    padding: 10px;
                }
                @media (max-width: 699px){
                    .font3;
                    padding: 10px;
                }
            }
        }
    }
}

footer {
    display: block;

    @media (min-width: 600px){
        margin-top: 2.0rem;
    }
    @media (max-width: 599px){
        margin-top: 1.0rem;
    }

    ul {
        list-style: none;
        float: left;

        @media (min-width: 600px){
            margin-left: 6.0rem;
        }
        @media (max-width: 599px){
        }

        li {
            float: left;
            font-size: 2.3rem;
            a {
                float: left;
                color: @white;

                @media (min-width: 600px){
                    margin: 0 4.0rem;
                }
                @media (max-width: 599px){
                    margin: 0 2.0rem;
                }
            }
        }
    }
}

