nav.menu {
    width: 240px;
    background-color: @color4;
    border-right: 10px solid @color5;
    box-sizing: border-box;
    position: relative;

    ul.items {
        float: left;
        width: 100%;
        margin: 10px 0 0 0;
        list-style: none;

        &>li {
            float: left;
            z-index: 10;
            margin-bottom: 5px;

            &.active {
                width: 240px;

                .title {
                    color: @color5;
                    background-color: @color2;
                    background-repeat: no-repeat;
                    background-position: center right;
                    background-image: url('/svg/arrow.svg');

                    .right {
                        margin-right: 10px;
                    }
                }

                &.header {
                    .title {
                        background-image: none;
                    }
                }

                .options {
                    float: left;
                    width: 100%;

                    ul {
                        list-style: none;

                        li {
                            &.active {
                                a {
                                    font-weight: bold;
                                }
                                a:before {
                                    content: '▸ ';
                                }
                            }

                            padding: 0.3rem 0 0.3rem 1.0rem;
                            .font6;

                            a {
                                color: darken(@color2,10%);
                            }
                        }
                    }
                }
            }

            &:not(.active) {
                width: 230px;

                .options {
                    display: none;
                }
            }

            .title {
                float: left;
                width: 100%;
                height: 40px;

                background-color: fade(@color2,50%);

                &>a, &>span {
                    float: left;
                    height: 100%;
                    width: 150px;
                    box-sizing: border-box;
                    padding: 0.43rem;
                    .font1;
                }

                .right {
                    color: @color1;
                    height: 100%;
                    z-index: 10;

                    span, a {
                        float: left;
                        height: 100%;
                        box-sizing: border-box;
                    }
                    span.r1 {
                        .font3;
                        text-align: right;
                        padding: 0.43rem 0 0.43rem 0;
                    }
                    a.r2 {
                        padding: 10px;
                    }
                    span.r3 {
                        padding: 10px;
                    }
                    span.r4 {
                        font-size: 26px;
                        padding: 12px 10px 6px 0;
                    }
                }
            }
        }
    }

    ul.footer {
        height: 50px;
        width: 100%;
        list-style: none;
        float: left;
        background-color: @color2;
        position: absolute;
        bottom: 0;
        .flex_menu;
        li {
            a {
                font-size: 1.3rem;
                color: white;
            }
        }
    }
}

