.workspace {
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;

    article.form {
        background-color: fade(@color5,75%);
    }

    .form {
        position: absolute;
        box-sizing: border-box;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 20;
    }

    .viewer {
        background-color: lighten(@color5,5%);
        position: absolute;
        box-sizing: border-box;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 16;
        margin: 0;
        padding: 0;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        .list, .details {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;

            margin: 0;
            padding: 0;
            position: relative;

            &.fully {
                height: 100%;
            }
            &.half {
                height: 50%;
            }
            &.none {
                display: none;
            }
        }

        .tools {
            background-color: @color4;
            margin-top: 2px;
        }

        h1 {
            .font3;
            text-transform: uppercase;
            background-color: darken(@color4,10%);
            color: @color1;
            margin: 0;
            padding: 10px 0 7px 16px;
        }

        h2 {
            .font4;
        }

        dl {
            .font6;
            margin: 0;
            padding: 0.75rem;

            dt {
                float: left;
                width: 100%;
                box-sizing: border-box;
                font-weight: bold;
                color: @color1;
            }
            dd {
                float: left;
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 0.25rem 0;
                padding: 0 0 0 1.5rem;
            }
        }

        table {
            width: 100%;
            th {
                .font6;
                text-align: left;
            }

            td:not(.monospaced) {
                .font8;
                padding: 0 0.25rem;
            }
        }

        .list {
            .tools {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .separator {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 10px;
                background-color: @color5;
            }

            .table {
                position: absolute;
                top: 40px;
                bottom: 10px;
                left: 0;
                right: 0;
                overflow: auto;

                .item {
                    width: 100%;
                    float: left;
                    padding: 0;
                    cursor: pointer;

                    &:nth-child(odd)  { background-color: lighten(@color5,10%); }
                    &:nth-child(even) { background-color: lighten(@color5, 5%); }
                    &.selected {        background-color: lighten(@color2,20%); }

                    &>* {
                        .font10;
                        float: left;
                    }

                    &.request {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 48px; }
                        &>:nth-child(4) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                        &>:nth-child(5) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; float: right; }
                    }

                    &.page {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                    }

                    &.file {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 190px; }
                        &>:nth-child(4) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 70px; text-align: right; }
                        &>:nth-child(5) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                    }

                    .status2xx { background-color: fade(#008000,25%); }
                    .status3xx { background-color: fade(#ffff00,25%); }
                    .status4xx { background-color: fade(#ff0000,25%); }
                    .status5xx { background-color: fade(#000080,25%); }
                }
            }
        }

        .details {
            background-color: @white;
            width: 100%;
            overflow: auto;

            &>* {
                .font10;
            }

            .request {
                width: 100%;
                box-sizing: border-box;
                padding: 0.25rem 0.5rem 0 0.5rem;

                p {
                    margin: 0;
                }
                p:before {
                    content: '> ';
                }
            }

            .response {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5rem 0.5rem 0 0.5rem;

                p {
                    margin: 0;
                }
                p:before {
                    content: '< ';
                }
            }

            .body {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5rem 0.5rem 0.25rem 0.5rem;

                p {
                    margin: 0;
                }
            }
        }
    }
}

