.workspace {
    box-sizing: border-box;
    margin-top: 5px;
    position: relative;

    article.form {
        background-color: fade(@color5,75%);
    }

    .form {
        position: absolute;
        box-sizing: border-box;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 20;
    }

    .viewer {
        background-color: lighten(@color5,5%);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 16;
        margin: 0;
        padding: 0;

        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;

        .tools, .foot {
            background-color: @color4;
            margin-top: 0px;

            li.selected {
                background-color: darken(@color4,10%);
            }

            li.disabled {
                transition: none;
                a {
                    color: @color5;
                }

                &:hover {
                    background-color: @color4;
                }
            }

            li {
                a {
                    color: @color1;
                }
            }

            select {
                .font8;
                margin: 0.20rem;
                padding: 0 0.20rem;
                border: none;
                background-color: @color5;

                option {
                    padding: 0.25rem 0.5rem;
                    .font8;
                }
            }
        }

        .foot {
            height: 25px;

            ul {
                list-style: none;

                li {
                    float: left;

                    span {
                        margin: 0 10px;
                        .font10;
                    }

                    a {
                        padding: 5px 10px;
                        font-size: 0.75rem;
                    }
                }
            }
        }

        h1 {
            .font3;
            text-transform: uppercase;
            background-color: darken(@color4,10%);
            color: @color1;
            margin: 0;
            padding: 10px 0 7px 16px;
        }

        h2 {
            .font4;
        }

        dl {
            .font6;
            margin: 0;
            padding: 0.75rem;

            dt {
                float: left;
                width: 100%;
                box-sizing: border-box;
                font-weight: bold;
                color: @color1;
            }
            dd {
                float: left;
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 0.25rem 0;
                padding: 0 0 0 1.5rem;
            }
        }

        .separator {
            position: absolute;
            top: 0;
            width: 100%;
            height: 10px;
            background-color: @color5;
        }

        .list, .details {
            margin: 0;
            padding: 0;
            position: relative;

            &.fully {
                height: 100%;
            }
            &.half {
                height: 50%;
            }
            &.none {
                height: 0%;
            }
        }

        .list {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;

            .tools {
                position: absolute;
                top: 0;
                width: 100%;
            }

            .foot {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            .table {
                position: absolute;
                top: 40px;
                bottom: 25px;
                left: 0;
                right: 0;
                overflow: auto;

                .item {
                    width: 100%;
                    float: left;
                    padding: 0;
                    cursor: pointer;

                    &:nth-child(odd)  { background-color: lighten(@color5,10%); }
                    &:nth-child(even) { background-color: lighten(@color5, 5%); }
                    &.selected {        background-color: lighten(@color2,20%); }

                    &>* {
                        .font10;
                        float: left;
                    }

                    &.request {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 48px; }
                        &>:nth-child(4) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                        &>:nth-child(5) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; float: right; }
                    }

                    &.page {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                        &>:nth-child(4) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; float: right; }
                    }

                    &.file {
                        &>:nth-child(1) { padding: 0.24rem 0.18rem 0.06rem 0.30rem; }
                        &>:nth-child(2) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 135px; }
                        &>:nth-child(3) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 240px; }
                        &>:nth-child(4) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; width: 70px; text-align: right; }
                        &>:nth-child(5) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; }
                        &>:nth-child(6) { padding: 0.18rem 0.25rem 0.12rem 0.25rem; float: right; }
                    }

                    .status2xx { background-color: fade(#008000,25%); }
                    .status3xx { background-color: fade(#ffff00,25%); }
                    .status4xx { background-color: fade(#ff0000,25%); }
                    .status5xx { background-color: fade(#000080,25%); }

                    &.total {
                        .font10;
                        float: left;
                        text-align: right;
                        box-sizing: border-box;
                        padding: 0.25rem;
                        background-color: @color4;
                        border-top: 1px solid @color5;
                    }
                }
            }
        }

        .details {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            background-color: #00ccff;
            background-color: @white;
            width: 100%;
            overflow: auto;

            &>* {
                .font10;
            }

            .request {
                width: 100%;
                box-sizing: border-box;
                margin-top: 10px;
                padding: 0.25rem 0.5rem 0 0.5rem;

                p {
                    margin: 0;
                }
                p:before {
                    content: '> ';
                }
            }

            .response {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5rem 0.5rem 0 0.5rem;

                p {
                    margin: 0;
                }
                p:before {
                    content: '< ';
                }
            }

            .body {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5rem 0.5rem 0.25rem 0.5rem;

                p {
                    margin: 0;
                }
            }
        }
    }
}

