ul.items
    li.active
        .title
            span Documentation
        .options
            ul
                li: a(href='/#/pages/api') API
                li: a(href='/#/pages/support') Support
    li.active
        .title
            span Connect
        .options
            ul
                li: a(href='/#/pages/contact') Contact us
    li.active
        .title
            span About
        .options
            ul
                li: a(href='/#/pages/terms') Terms of Service
                li: a(href='/#/pages/privacy') Privacy Policy
                li: a(href='/#/pages/security') Security Policy

