article.form.animate(ng-show='planners.env.view==\'form\'')
    h2(ng-show='planners.env.type==\'collection\'') Add a Planner
    h2(ng-show='planners.env.type==\'element\'') Edit: {{planner.id}}
    div.close
        a.fa.fa-close(ng-click='planners.list()')
    form(ng-submit='planners.save()')
        p
            label Name
            input(type='text',placeholder='The name for the planner',required,ng-model='planner.id')
        p
            label Host
            input(type='text',placeholder='The host or a IP of your planner',required,ng-model='planner.planner.host')
        p
            label Port
            input(type='number',placeholder='The port for the planner',min=1,max=65535,required,ng-model='planner.planner.port')
        p.offset
            button(type='submit') Save
            button(type='button',ng-click='planners.check()') Test connection
            span.hide.loader.fa.fa-spinner
            span.hide.message

