article.list
    div.tasks
        ul
            li(ng-click='clients.add()')
                span.fa.fa-plus
                span Add Client
            li(ng-click='clients.refresh(1)')
                span.fa.fa-refresh
                span Refresh
        .clearfix
    table
        thead
            tr
                th Name
                th Key
                th.options &nbsp;
        tbody
            tr(ng-repeat='client in storage.clients')
                td {{client.id|truncate:16}}
                td {{client.key}}
                td.options
                    a.fa.fa-trash(title='Remove element',ng-click='clients.remove($index)')

