article.list
    div.tasks
        ul
            li(ng-click='planners.add()')
                span.fa.fa-plus
                span Add Planner
            li(ng-click='planners.refresh(1)')
                span.fa.fa-refresh
                span Refresh
        .clearfix
    table
        thead
            tr
                th Name
                th Host
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.options &nbsp;
        tbody
            tr(ng-repeat='planner in storage.planners')
                td {{planner.id|truncate:16}}
                td {{planner.planner.host}}:{{planner.planner.port}}
                td.status
                    span.fa(title='Planner type: {{planner.type}}',ng-class='{\'fa-bullhorn\':planner.type==\'io\',\'fa-headphones\':planner.type==\'ion\',\'fa-microphone-slash\':planner.type==\'none\'}')
                td.status
                    span.fa(title='Planner connection: {{planner.check}}',ng-class='{\'fa-check\':planner.check==\'online\',\'fa-question\':planner.check==\'unknown\',\'fa-close\':planner.check==\'offline\'}')
                td.status
                    span.fa(title='Planner playing status: {{planner.status}}',ng-class='{\'fa-play\':planner.status==\'running\',\'fa-question\':planner.status==\'unknown\',\'fa-stop\':planner.status==\'stopped\'}')
                td.status
                    span.fa(title='Planner setting status: {{planner.set.status}}',ng-class='{\'fa-circle\':planner.set.status==\'set\',\'fa-question\':planner.set.status==\'unknown\',\'fa-circle-o\':planner.set.status==\'unset\'}')
                td.status
                    a.fa.fa-recycle(title='Clean TID',ng-click='planners.clean($index)')
                td.status
                    a.fa.fa-lock(title='Take control',ng-click='planners.exclusive($index)')
                td.options
                    a.fa.fa-refresh(title='Check connection',ng-click='planners.check($index)',ng-class='{\'fa-spin\':planner.check==\'checking\'}')
                    a.fa.fa-edit(title='Edit properties',ng-click='planners.edit($index)')
                    a.fa.fa-trash(title='Remove element',ng-click='planners.remove($index)')

