extends ./base.jade

block link
    link(rel='stylesheet',href='/css/planner.css')

block script
    script(src='/jquery/dist/jquery.min.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/js/planner.js')

