h1 I/O pipes
div.tasks
    a(href='') Add
table
    tr
        th Name
        th Host
        th Features
        th Status
        th &nbsp;
    tr
        td hiperborea
        td 192.3.27.103:9000
        td.features in/output
        td.status online
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
    tr
        td localhost
        td 127.0.0.1:9000
        td.features in
        td.status online
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]

    tr
        td smith
        td 167.157.28.33:9000
        td.features output
        td.status online
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]

