article.list
    div.tasks
        ul
            li
                a.fa.fa-plus(ng-click='notifiers.add()') &nbsp;Add
            li
                a.fa.fa-refresh(ng-click='notifiers.refresh()') &nbsp;Refresh
        .clearfix
    table
        tr
            th Name
            th Host
            th Available
            th &nbsp;
        tr(ng-repeat='notifier in storage.notifiers')
            td
                span {{notifier.id}}
            td {{notifier.notifier.host}}:{{notifier.notifier.port}}
            td.center
                span.fa(ng-class='{\'fa-check\':notifier.check==\'online\',\'fa-question\':notifier.check==\'unknown\',\'fa-close\':notifier.check==\'offline\'}')
            td.options
                a.fa.fa-refresh(title='Check connection',ng-click='notifiers.check($index)',ng-class='{\'fa-spin\':notifier.check==\'checking\'}')
                a.fa.fa-edit(title='Edit properties',ng-click='notifiers.edit($index)')
                a.fa.fa-trash(title='Remove element',ng-click='notifiers.remove($index)')

