article.list
    div.tasks
        ul
            li
                a.fa.fa-plus(ng-click='planners.add()')
                a(ng-click='planners.add()') Add Server
            li
                a.fa.fa-refresh(ng-click='planners.refresh()')
                a(ng-click='planners.refresh()') Refresh
        .clearfix
    table
        thead
            tr
                th Name
                th Host
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.options &nbsp;
        tbody
            tr(ng-repeat='planner in storage.planners')
                td
                    a(ng-click='planners.view($index)') {{planner.id}}
                td {{planner.planner.host}}:{{planner.planner.port}}
                td.status
                    span.fa(ng-class='{\'fa-bullhorn\':planner.type==\'io\'}')
                td.status
                    span.fa(ng-class='{\'fa-check\':planner.check==\'online\',\'fa-question\':planner.check==\'unknown\',\'fa-close\':planner.check==\'offline\'}')
                td.status
                    span.fa(ng-class='{\'fa-play\':planner.status==\'running\',\'fa-question\':planner.status==\'unknown\',\'fa-stop\':planner.status==\'stopped\'}')
                td.status
                    span.fa(ng-class='{\'fa-circle\':planner.set.status==\'set\',\'fa-question\':planner.set.status==\'unknown\',\'fa-circle-o\':planner.set.status==\'unset\'}')
                td.status
                    a(ng-click='planners.follow($index)')
                        span.fa(ng-class='{\'fa-bell-o\':planner.follow==true,\'fa-bell-slash-o\':planner.follow==false}')
                td.options
                    a.fa.fa-refresh(title='Check connection',ng-click='planners.check($index)',ng-class='{\'fa-spin\':planner.check==\'checking\'}')
                    a.fa.fa-edit(title='Edit properties',ng-click='planners.edit($index)')
                    a.fa.fa-trash(title='Remove element',ng-click='planners.remove($index)')

