article.list
    div.tasks
        ul
            li
                a.fa.fa-plus(ng-click='repositories.add()') &nbsp;Add
            li
                a.fa.fa-refresh(ng-click='repositories.refresh()') &nbsp;Refresh
        .clearfix
    table
        tr
            th Name
            th DB Server
            th DB Name
            th Type
            th Status
            th &nbsp;
        tr(ng-repeat='repository in storage.repositories')
            td
                a(ng-click='repositories.view($index)') {{repository.id}}
            td {{repository._dbserver}}
            td {{repository.db.name}}
            td.center {{repository.type}}
            td.center
                span.fa(ng-class='{\'fa-check\':repository.status==\'online\',\'fa-question\':repository.status==\'unknown\',\'fa-close\':repository.status==\'offline\'}')
            td.options
                a.fa.fa-refresh(title='Check connection',ng-click='repositories.check($index)',ng-class='{\'fa-spin\':repository.status==\'checking\'}')
                a.fa.fa-edit(title='Edit properties',ng-click='repositories.edit($index)')
                a.fa.fa-trash(title='Remove element',ng-click='repositories.remove($index)')

