h1 Repositories
div.tasks
    a(href='') Add
table
    tr
        th Name
        th DB Server
        th &nbsp;
    tr
        td pleni_site_atb
        td hiperborea
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
    tr
        td pleni_site_reduno
        td hiperborea
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
    tr
        td pleni_site_unitel
        td hiperborea
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
    tr
        td pleni_site_entel
        td main
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
    tr
        td pleni_site_google
        td localhost
        td.options
            a(href='') [View]
            a(href='') [Edit]
            a(href='') [Remove]
