article.list
    div.tasks
        ul
            li
                a.fa.fa-plus(ng-click='repositories.add()') &nbsp;Add
            li
                a.fa.fa-refresh(ng-click='repositories.refresh()') &nbsp;Refresh
        .clearfix
    table
        tr
            th Name
            th DB Server
            th &nbsp;
        tr
            td pleni_site_atb
            td hiperborea
            td.options
                a(href='') [View]
                a(href='') [Edit]
                a(href='') [Remove]

