.wrapper.full
    nav.menu
        ul.items
            li
                a Fetching Sites
        include ../blocks/footer/bottom
    .main
        .messages
        section.activities
            h1 Fetching site
            div.tasks
                ul
                    li
                        a.fa.fa-file
                        a New Site
                    li
                        a.fa.fa-file
                        a Open Site

