.wrapper.full
    nav.menu
        include ../blocks/footer/bottom
    .main
        .messages
        section.activities
            h1 Projects
            div.tasks
                ul
                    li
                        a.fa.fa-file
                        a New Site
                    li
                        a.fa.fa-file
                        a Open Site

