.wrapper
    section.jumbotron
        div
            img.node1(src='img/node1.svg')
            .node3
                img.node2(src='img/node2.svg')
        div
            img(src='img/text.svg')
        .clearfix
    section.description
        div
            h2 Fetch
            p Set repositories, planners, fetching, and get ready for capture of information.
        div
            h2 Analize
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
        div
            h2 Visualize
            p Make data visualizations, for facilitate the analysis, the take of decisions and data mining.
        div
            h2 Automate
            p Schedule automatic tasks, avoids monotonous tasks, and follow it in anywhere, anytime.
        .clearfix

