div.jumbotron
    div.container
        div.media
            div.pull-left.hidden-xs
                img#logo.media-object(src='img/pleni.svg')
            div.media-body
                h1 Pleni
                    br
                    small in hacking potencier!!
div.container
    div.row
        div.col-md-4
            h2 Get it!
            p Set repositories, and planners, fetching and get ready for capture of information.
            br
            p
                a.btn.btn-danger.btn-block(role='button') Fetch now!
        div.col-md-4
            h2 Analize
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
            br
            p
                a.btn.btn-warning.btn-block(role='button') Analize it!
        div.col-md-4
            h2 Automate
            p Schedule automatic tasks, and follow the news in anywhere!!
            br
            p
                a.btn.btn-success.btn-block(role='button') and Relax!

