.wrapper
    section.jumbotron
        .c
            .t
                .r
                    img(src='img/node1.svg')
        .c
            .t
                .r
                    img(src='img/node2.svg')
        .c
            .t
                .r
                    img(src='img/node3.svg')
        .c
            .t
                .r
                    img(src='img/node4.svg')
        .l
            img(src='img/text.svg')
        .clearfix
    section.description
        div
            h2 Fetch
            p Set repositories, planners, fetching, and get ready for capture of information.
        div
            h2 Analize
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
        div
            h2 Visualize
            p Make data visualizations, for facilitate the analysis, the take of decisions and data mining.
        div
            h2 Automate
            p Schedule automatic tasks, avoids monotonous tasks, and follow it in anywhere, anytime.
.last.wrapper
    .extra
        ul
            li: a API
            li: a Terms
            li: a Policy
            li: a Security
            li: a Support
            li: a Contact
        .clearfix
    .icons
        ul
            li: a.fa.fa-hiperborea.big
            li: a.fa.fa-github

