div.jumbotron
    div.container
        div.media
            div.pull-left.hidden-xs
                img#logo.media-object(src='img/pleni.svg')
            div.media-body
                h1 Pleni
                    br
                    small in hacking potencier!!
div.container
    div.row
        div.col-md-3
            h2 Get it!
            p Set repositories, and planners, fetching and get ready for capture of information.
        div.col-md-3
            h2 Analize
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
        div.col-md-3
            h2 Visualize
            p Create visualizations for facilitate decisions.
        div.col-md-3
            h2 Automate
            p Schedule automatic tasks, and follow the news in anywhere!!

