#front
    div
        div
            img.node1(src='img/node1.svg')
            img.node2(src='img/node2.svg')
            img.node3(src='img/node3.svg')
            img.node4(src='img/node4.svg')
        div
            img(src='img/text.svg')
        .clearfix
    div
        div.block
            h2 Get it!
            p Set repositories, and planners, fetching and get ready for capture of information.
        div.block
            h2 Analize it
            p Replicate the information and apply heuristics for find vulnerabilities and security holes.
        div.block
            h2 Visualize
            p Create visualizations for facilitate decisions.
        div.block
            h2 Automate
            p Schedule automatic tasks, and follow the news in anywhere!!
        .clearfix

