div.container
    div.row
        div.col-md-8(role='main')
            section
                h1 Settings
                h2 CouchDB Settings
                div.alert.alert-dismissible.hide(role='alert')
                    button.close(type='button',data-dismiss='alert')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    p.message
        div.col-md-4.hidden-xs
            ul.list-group
                li.list-group-item: a CouchDB Settings

