div.container
    br
    div.row
        div.btn-toolbar.col-md-12(role='toolbar')
            div.btn-group.btn-group-sm
                button.btn.btn-default(type='button',ng-click='add()') Add Planner
                button.btn.btn-primary(type='button',ng-click='refresh()') Refresh planners
    br
    div.row
        div.col-md-8(role='main')
            div.alert.alert-dismissible.hide(role='alert')
                button.close(type='button',data-dismiss='alert')
                    span(aria-hidden='true') &times;
                    span.sr-only Close
                p.message
            section(ng-show='env.panel==\'index\'')
                :markdown
                    #Planners
                    In this page you can view and add connections to the planners in different servers.
            section(ng-show='env.panel==\'view\'')
                h2 {{current}}
                    br
                    small {{planners[current].host}}:{{planners[current].port}}
                ul.nav.nav-tabs(role='tablist')
                    li(ng-class='{active: env.type==\'view\'}')
                        a(ng-click='view()') View
                    li(ng-class='{active: env.type==\'config\'}')
                        a(ng-click='edit()') Edit
                    li(ng-class='{active: env.type==\'delete\'}')
                        a(ng-click='delete()') Delete
            section(ng-show='env.panel==\'new\'')
                h2 Add planner
            section(ng-show='env.type==\'view\'')
                br
                div.btn-toolbar(role='toolbar')
                    div.btn-group.btn-group-sm
                        button.btn.btn-default(type='button',ng-click='scan()') Scan tasks
                        button.btn.btn-success(type='button',ng-click='check()') Check connection
                    div#test
                        span.loader.hide
                        span.result.hide
                div(ng-show='planners[current].exclusive==true')
                    br
                    h3 Available tasks
                    br
                    div.row
                        p lorem
            section(ng-show='env.type==\'config\'')
                br
                form.form-horizontal(role='form',ng-submit='save()')
                    div.form-group(ng-show='env.panel==\'new\'')
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The name for the new connection',required,ng-model='planner.id')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host or a IP of your couchdb server',required,ng-model='planner.host')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='number',placeholder='The port for the connection',min=1,max=65535,required,ng-model='planner.port')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Save
                            button.btn.btn-default(type='button',ng-click='check()') Test Connection
                            div#test
                                span.loader.hide
                                span.result.hide
            section(ng-show='env.type==\'delete\'')
                br
                form.form-horizontal(role='form',ng-submit='remove()')
                    div.form-group
                        label.col-sm-10 Press the button if you want remove the connection with planner.
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-danger(type='submit') Remove connection
                            div#test
                                span.loader.hide
                                span.result.hide
        div.col-md-4
            div.visible-xs-block.visible-sm-block
                br
            div.list-group
                a.list-group-item(ng-repeat='(id,data) in planners',ng-click='get(id)',ng-class='{\'list-group-item-success\': planners[id].status==\'online\',\'list-group-item-danger\': planners[id].status==\'offline\'}') {{id}}
                    span.badge(ng-show='planners[id].exclusive') taken

