.wrapper.full
    nav.menu
        include ../blocks/footer/bottom
    .main
        .messages
        section.projects
            h1 Projects
            include ../blocks/projects/list/projects
            include ../blocks/projects/form/projects
            include ../blocks/projects/remove/projects

