div.container
    div.row
        ol.breadcrumb.col-md-8
            li: a(href='/#/home') ::
        div.btn-toolbar.col-md-4(role='toolbar')
            div.btn-group.btn-group-sm
                button.btn.btn-default(type='button',ng-click='add()') Add Connection
    div.row
        div.col-md-8(role='main')
            section
                h2 {{title}}
                div.alert.alert-dismissible.hide(role='alert')
                    button.close(type='button',data-dismiss='alert')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    p.message
                form.form-horizontal(role='form',ng-submit='send()')
                    div.form-group
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The name for the new connection',required,ng-model='id')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host or a IP of your couchdb server',required,ng-model='host')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='number',placeholder='The port for the connection',min=1,max=65535,required,ng-model='port')
                    div.form-group(ng-show='type===\'add\'')
                        label.col-sm-2.control-label User DB
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host without scheme or a IP',required,ng-model='dbuser')
                    div.form-group(ng-show='type==\'add\'')
                        label.col-sm-2.control-label Password DB
                        div.col-sm-10
                            input.form-control(type='password',placeholder='The host without scheme or a IP',required,ng-model='dbpass')
                    div.form-group
                        label.col-sm-2.control-label Prefix
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The prefix used in the database server',ng-model='prefix')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Save
                            button.btn.btn-default(type='button',ng-click='send()') Test Connection
                            div#test
                                span.loader.hide
                                span.result.hide
        div.col-md-4
            div.list-group
                div.list-group-item(ng-repeat='repository in repositories')
                    a(ng-click='get(repository.id)')
                        h3 {{repository.id}}
                    div.row
                        div.col-md-2: strong host:
                        div.col-md-2 {{repository.host}}
                    div.row
                        div.col-md-2: strong prefix:
                        div.col-md-2 {{repository.prefix}}

