div.container
    br
    div.row
        div.btn-toolbar.col-md-12(role='toolbar')
            div.btn-group.btn-group-sm
                button.btn.btn-default(type='button',ng-click='add()') Add Repository
    br
    div.row
        div.col-md-8(role='main')
            div.alert.alert-dismissible.hide(role='alert')
                button.close(type='button',data-dismiss='alert')
                    span(aria-hidden='true') &times;
                    span.sr-only Close
                p.message
            section(ng-show='env.panel==\'index\'')
                :markdown
                    #Repositories
                    In this page you can view and add connections to the couchdb databases in different servers.
            section(ng-show='env.panel==\'view\'')
                h2 {{current}}
                    br
                    small {{repositories[current].host}}:{{repositories[current].port}}/{{repositories[current].prefix}}
                ul.nav.nav-tabs(role='tablist')
                    li(ng-class='{active: env.type==\'view\'}')
                        a(ng-click='view()') View
                    li(ng-class='{active: env.type==\'config\'}')
                        a(ng-click='edit()') Edit
                    li(ng-class='{active: env.type==\'delete\'}')
                        a(ng-click='delete()') Delete
            section(ng-show='env.panel==\'new\'')
                h2 Add connection
            section(ng-show='env.type==\'view\'')
                br
                button.btn.btn-default(type='button',ng-click='scan()') Scan databases
                button.btn.btn-default(type='button',ng-click='check()') Check connection
                div#test
                    span.loader.hide
                    span.result.hide
                div(ng-hide='repositories[current].databases.length==0')
                    br
                    h3 Available databases
                    br
                    div.row
                        div.col-md-6(ng-repeat='database in repositories[current].databases')
                            div.media.panel.panel-default.extra-padding
                                div.pull-left
                                    span.media-object.glyphicon.glyphicon-cloud-download.size90
                                div.media-body
                                    h3.media-heading {{database.db_name}}
                                    ul
                                        li #[strong Documents:] {{database.doc_count}}
                                        li #[strong Sequence:] {{database.update_seq}}
                                        li #[strong Data size:] {{database.data_size}}
                                        li #[strong Disk size:] {{database.disk_size}}
            section(ng-show='env.type==\'config\'')
                br
                form.form-horizontal(role='form',ng-submit='save()')
                    div.form-group(ng-show='env.panel==\'new\'')
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The name for the new connection',required,ng-model='repository.id')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host or a IP of your couchdb server',required,ng-model='repository.host')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='number',placeholder='The port for the connection',min=1,max=65535,required,ng-model='repository.port')
                    div.form-group
                        label.col-sm-2.control-label User DB
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host without scheme or a IP',required,ng-model='repository.dbuser')
                    div.form-group
                        label.col-sm-2.control-label Password DB
                        div.col-sm-10
                            input.form-control(type='password',placeholder='The host without scheme or a IP',required,ng-model='repository.dbpass')
                    div.form-group
                        label.col-sm-2.control-label Prefix
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The prefix used in the database server',required,ng-model='repository.prefix')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Save
                            button.btn.btn-default(type='button',ng-click='check()') Test Connection
                            div#test
                                span.loader.hide
                                span.result.hide
            section(ng-show='env.type==\'delete\'')
                br
                form.form-horizontal(role='form',ng-submit='remove()')
                    div.form-group
                        label.col-sm-10 Press the button if you want remove the connection with repository.
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Remove connection
                            div#test
                                span.loader.hide
                                span.result.hide
        div.col-md-4
            div.list-group
                a.list-group-item(ng-repeat='(id,data) in repositories',ng-click='get(id)',ng-class='{\'list-group-item-success\': repositories[id].status==\'online\',\'list-group-item-danger\': repositories[id].status==\'offline\'}') {{id}}
                    span.badge {{repositories[id].databases.length}}

