div.container
    div.row
        div.btn-toolbar.col-md-12(role='toolbar')
            div.btn-group.btn-group-sm
                button.btn.btn-default(type='button',ng-click='add()') Add Connection
    br
    div.row
        div.col-md-8(role='main')
            section(ng-show='type==\'\'')
                :markdown
                    #Repositories
                    In this page you can view and add connections to the couchdb databases in different servers.
            section(ng-show='type==\'get\'')
                ul.nav.nav-tabs(role='tablist')
                    li.active
                        a View
                    li
                        a Edit
                    li
                        a Delete
            section(ng-show='panel==\'view\'')
                h2 {{title}}
                    br
                    small {{host}}:{{port}}/{{prefix}}
                button.btn.btn-default(type='button',ng-click='scan()') Scan databases
                button.btn.btn-default(type='button',ng-click='check()') Check connection
                div#test
                    span.loader.hide
                    span.result.hide
                div(ng-hide='databases.length==0')
                    br
                    h3 Available databases
            section(ng-show='panel==\'config\'')
                h2 {{title}}
                div.alert.alert-dismissible.hide(role='alert')
                    button.close(type='button',data-dismiss='alert')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    p.message
                form.form-horizontal(role='form',ng-submit='save()')
                    div.form-group
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The name for the new connection',required,ng-model='id')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host or a IP of your couchdb server',required,ng-model='host')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='number',placeholder='The port for the connection',min=1,max=65535,required,ng-model='port')
                    div.form-group(ng-show='type===\'add\'')
                        label.col-sm-2.control-label User DB
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The host without scheme or a IP',required,ng-model='dbuser')
                    div.form-group(ng-show='type==\'add\'')
                        label.col-sm-2.control-label Password DB
                        div.col-sm-10
                            input.form-control(type='password',placeholder='The host without scheme or a IP',required,ng-model='dbpass')
                    div.form-group
                        label.col-sm-2.control-label Prefix
                        div.col-sm-10
                            input.form-control(type='text',placeholder='The prefix used in the database server',required,ng-model='prefix')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Save
                            button.btn.btn-default(type='button',ng-click='check()') Test Connection
                            div#test
                                span.loader.hide
                                span.result.hide
        div.col-md-4
            div.list-group
                div.list-group-item(ng-repeat='repository in repositories')
                    a(ng-click='get(repository.id)')
                        h3 {{repository.id}}
                            br
                            small {{repository.host}}:{{repository.port}}/{{repository.prefix}}

