div.container
    div.row
        ol.breadcrumb.col-md-8
            li: a(href='') ::
        div.btn-toolbar.col-md-4(role='toolbar')
            div.btn-group.btn-group-sm
                button.btn.btn-default(type='button') Add connection
                button.btn.btn-default(type='button') Check all
    div.row
        div.col-md-8(role='main')
            section.index(ng-show='panel==\'index\'')
                p You can create repositories or view the state of fetching in
                everywhere repository created.
            section.create(ng-show='panel==\'create\'')
                h2 New repository
                div.alert.alert-dismissible.hide(role='alert')
                    button.close(type='button',data-dismiss='alert')
                        span(aria-hidden='true') &times;
                        span.sr-only Close
                    p.message
                form.form-horizontal(role='form',ng-submit='createrepo()')
                    div.form-group
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text',placeholder='Name of repository',required,ng-model='repository')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Create
            section.read(ng-show='panel==\'read\'')
                h2 Repository: %s
        div.col-md-4
            div.list-group
                a.list-group-item(ng-repeat='(name,config) in repositories')
                    h2 {{name}}
                    p
                        strong host:&nbsp;
                        {{config.host}}
                    p
                        strong prefix:&nbsp;
                        {{config.prefix}}

