nav.menu
    ul
        li: a(ng-click='dbservers.show()') DB Servers
        li: a(ng-click='repositories.show()') Repositories
        li: a(ng-click='planners.show()') Planners
        li: a(ng-click='iopipes.show()') I/O pipes

section.messages
section.main
    section.dbservers
        h1 DB Servers
        include ../blocks/resources/list/dbservers
        include ../blocks/resources/view/dbservers
        include ../blocks/resources/form/dbservers
        include ../blocks/resources/remove/dbservers
    section.repositories
        h1 Repositories
        include ../blocks/resources/list/repositories
        include ../blocks/resources/view/repositories
        include ../blocks/resources/form/repositories
        include ../blocks/resources/remove/repositories
    section.planners
        include ../blocks/resources/list/planners
    section.iopipes
        include ../blocks/resources/list/iopipes

