nav.menu
    ul
        li: a(ng-click='show_dbservers()') DB Servers
        li: a(ng-click='show_repositories()') Repositories
        li: a(ng-click='show_planners()') Planners
        li: a(ng-click='show_iopipes()') I/O pipes

section.main
    section.dbservers
        h1 DB Servers
        div.tasks
            a(href='') Add

