.wrapper.full
    nav.menu
        ul.items
            li.active.header
                span Project: {{storage.workspace.name}}
        ul.items
            li(ng-repeat='repository in storage.workspace.repositories')
                a {{repository}}
        include ../blocks/footer/bottom
    .main
        .tools
            ul.left
                li(title='Tasks/Planners configuration',ng-click='workspace.settings()')
                    a.fa.fa-gear
                li(title='Refresh data from server',ng-click='workspace.init()')
                    a.fa.fa-refresh
            ul.left
                li(ng-repeat='(task,planners) in storage.workspace.enabled',title='{{task}} in {{planners.length}} planners')
                    a.fa(ng-class='workspace.icon(task)')
                    small {{planners.length}}
            ul.right
                li(title='Close project workspace',ng-click='workspace.exit()')
                    a.fa.fa-close
        .messages
        .workspace
            include ../blocks/workspace/settings
            svg.canvas

