.wrapper.full
    nav.menu
        ul.items
            li.active.header
                span Project: test
        ul.items
            li
                a pleni_site_test
            li
                a pleni_site_versioning
            li
                a pleni_common_drupal
        include ../blocks/footer/bottom
    .main
        .tools
            ul
                li
                    a.fa.fa-gear
                li
                    a.fa.fa-file-o
                li
                    a.fa.fa-files-o
                li
                    a.fa.fa-cloud-download
                li
                    a.fa.fa-trash
        .messages
        article
            svg.canvas

