.wrapper.full
    nav.menu
        ul.items
            li.active.header
                span Project: {{storage.workspace.name}}
        ul.items
            li(ng-repeat='repository in storage.workspace.repositories')
                a {{repository}}
        include ../blocks/footer/bottom
    .main
        .tools
            ul.left
                li
                    a.fa.fa-gear
                li
                    a.fa.fa-refresh
            ul.right
                li
                    a.fa.fa-close(ng-click='workspace.close()',title='Close project workspace')
        .messages
        .workspace
            include ../blocks/workspace/settings
            svg.canvas

