.wrapper.full
    nav.menu
        ul.items
            li.active.header
                span Project: test
        ul.items
            li
                a pleni_site_test
            li
                a pleni_site_versioning
            li
                a pleni_common_drupal
        include ../blocks/footer/bottom
    .main
        .tools
            ul.left
                li
                    a.fa.fa-gear
                li
                    a.fa.fa-file-o
                li
                    a.fa.fa-files-o
                li
                    a.fa.fa-cloud-download
                li
                    a.fa.fa-trash
            ul.right
                li
                    a.fa.fa-close
        .messages
        .workspace
            article.form
                .title
                    h2 Workspace configuration
                .body
                    form(ng-submit='planners.save()')
                        p
                            label localhost
                            a.extra.fa.fa-refresh
                            a.extra.fa.fa-refresh
                            a.extra.fa.fa-refresh
                            a.extra.fa.fa-refresh
                        p
                            label smith
                        p.offset
                            span.hide.loader.fa.fa-spinner.fa-spin
                            span.hide.message
                        p.offset
                            button(type='submit') Apply
                            button(type='button') Cancel
            svg.canvas

