div
    nav.pushy.pushy-left
        ul
            li
                a Refresh
            li
                a +20 pages
            li
                a Generate report
            li
                a Close session
            li
                a Return home
            li
                a About pleni
    .site-overlay
        .close.fa.fa-close(ng-click='menu.close()')

