.sidebar
    nav.pushy.pushy-left
        ul
            li(ng-click='menu.refresh()')
                a Refresh page
            li(ng-click='menu.more()')
                a +20 pages
            li(ng-click='menu.report()')
                a Generate report
            li(ng-click='menu.close()')
                a Close session
            li(ng-click='menu.about()')
                a About pleni
    .site-overlay(ng-click='menu.hide()')
        .close.fa.fa-close(ng-click='menu.hide()')

