.statusbar
    .menu.fa.fa-bars(ng-click='menu.open()')
    .url(ng-bind='status.url')
    .c1(ng-bind='status.completed')
    .c2(ng-bind='status.total')
    .msg
        .wrapper(ng-bind='status.message')
    .status
        span.fa.fa-gear(ng-class='{\'fa-spin\':status.waiting==true}')
    .clearfix

