footer(ng-controller='NotifierController')
    .grid
        .control
            .tabs
                .tab(ng-repeat='t in storage.threads')
                    .fa(ng-class='{\'fa-circle\':t.set.status==\'set\',\'fa-question\':t.set.status==\'unknown\',\'fa-circle-o\':t.set.status==\'unset\'}')
                    .fa(ng-class='{\'fa-play\':t.status==\'running\',\'fa-question\':t.status==\'unknown\',\'fa-stop\':t.status==\'stopped\'}')
                    .text(ng-click='pick($index)',ng-class='{\'active\':t.id==thread.id}') {{t.id}}
            .bar(ng-show='thread')
                .fa(ng-class='{\'fa-circle\':thread.set.status==\'set\',\'fa-question\':thread.set.status==\'unknown\',\'fa-circle-o\':thread.set.status==\'unset\'}')
                .set {{thread.set.name}}
                .count {{thread.set.count}}
                .interval {{thread.set.interval}}
                .fa(ng-class='{\'fa-play\':thread.status==\'running\',\'fa-question\':thread.status==\'unknown\',\'fa-stop\':thread.status==\'stopped\'}')
                .msg {{thread.msg}}
                a.run.fa.fa-stop(ng-click='stop()')

