header(ng-controller='HeaderController')
    nav.grid
        ul.left
            li: a(href='/#/home') Home
            if role != 'guest'
                li: a(href='/#/resources') Resources
                li: a(href='/#/projects') Projects
        ul.right
            if role != 'guest'
                li: a(href='/#/settings') Settings
                li: a(ng-click='signout()') Sign out
            else
                li: a(href='/#/signin') Sign in
                li: a(href='/#/signup') Sign up
        .clearfix

