article.view(ng-show='dbservers.env.view==\'view\'')
    h2 {{dbserver.id}} ({{dbserver.db.prefix}})
    div.close
        a.fa.fa-close(ng-click='dbservers.list()')
    div.tasks
        ul
            li
                a.fa.fa-database(ng-click='dbservers.scan()') &nbsp;Scan repositories
        .clearfix
    table(ng-show='dbserver.repositories')
        tr
            th &nbsp;
            th Name
            th Type
            th Documents
            th Disk Size
            th Data Size
            th Sequence
        tr(ng-repeat='repositories in dbserver.repositories')
            td.options
                a.fa.fa-plus-circle(title='Add database to repositories list',href='')
            td {{repositories.name}}
            td {{repositories.type}}
            td.right {{repositories.params.doc_count}}
            td.right {{repositories.params.disk_size}}
            td.right {{repositories.params.data_size}}
            td.right {{repositories.params.update_seq}}
    p.offset
        span.hide.loader.fa.fa-spinner
        span.hide.message
    br

