article.view.animate(ng-show='notifiers.env.view==\'view\'')
    h2 {{notifier.id}} ({{notifier.notifier.host}}:{{notifier.notifier.port}})
    div.close
        a.fa.fa-close(ng-click='notifiers.list()')
    div
        form(ng-submit='notifiers.set()')
            p
                label Task
                select(required,ng-model='notifier.set.name',ng-options='task.name as task.name for task in notifier.api')
                    option(value='',selected='selected',disabled='disabled') Select a Task
                a.fa.fa-refresh(title='Refresh available tasks',ng-click='notifiers.api()')
            p.offset
                button(type='submit') Save Settings
        p.offset
            span.hide.loader.fa.fa-spinner
            span.hide.message
    br

