article.view.animate(ng-show='notifiers.env.view==\'view\'')
    .title
        h2 {{notifier.id}} ({{notifier.notifier.host}}:{{notifier.notifier.port}})
        .close
            a.fa.fa-close(ng-click='notifiers.list()')
    .body
        .column1
            .title
                h3 Connected Planners
            .item(ng-repeat='planner in notifier.planners') {{planner}}
                .close
                    a.fa.fa-trash(ng-click='notifiers.removeplanner($index)')
                .clearfix
        .column2
            .title
                h3 Available Planners
            .item(ng-repeat='planner in storage.planners') {{planner.id}}
                .close
                    a.fa.fa-plus-circle(ng-click='notifiers.addplanner($index)')
                .clearfix
        .clearfix
        p.offset
            span.hide.loader.fa.fa-spinner.fa-spin
            span.hide.message

