article.view.animate(ng-show='notifiers.env.view==\'view\'')
    h2 {{notifier.id}} ({{notifier.notifier.host}}:{{notifier.notifier.port}})
    div.close
        a.fa.fa-close(ng-click='notifiers.list()')
    div
        form(ng-submit='notifiers.addplanner()')
            p
                label Planner
                select(required,ng-model='notifier_planner.planner',ng-options='planner.id as planner.id for planner in storage.planners')
                    option(value='',selected='selected',disabled='disabled') Select a Planner
            p.offset
                button(type='submit') Add Planner
        p.offset
            span.hide.loader.fa.fa-spinner
            span.hide.message
    br

