article.view.animate(ng-show='planners.env.view==\'view\'')
    h2 {{planner.id}} ({{planner.planner.host}}:{{planner.planner.port}})
    div.close
        a.fa.fa-close(ng-click='planners.list()')
    div

    div.tasks
        ul
            li
                a.fa.fa-cubes(ng-click='planners.api()') &nbsp;Scan services
            li
                a.fa.fa-key(ng-click='planners.tid()') &nbsp;Set tid
            li
                a.fa.fa-cube(ng-click='planners.set()') &nbsp;Set task
        .clearfix
    div.dashboard
        div
            ul
                li(ng-repeat='task in planner.api')
                    a {{task.name}}
        div
        .clearfix
    p.offset
        span.hide.loader.fa.fa-spinner
        span.hide.message
    br

