article.view.animate(ng-show='planners.env.view==\'view\'')
    h2 {{planner.id}} ({{planner.planner.host}}:{{planner.planner.port}})
    div.close
        a.fa.fa-close(ng-click='planners.list()')
    div.tasks
        ul
            li
                a.fa.fa-database(ng-click='planners.status()') &nbsp;Condition
        .clearfix
    p.offset
        span.hide.loader.fa.fa-spinner
        span.hide.message
    br

