article.view.animate(ng-show='planners.env.view==\'view\'')
    h2 {{planner.id}} ({{planner.planner.host}}:{{planner.planner.port}})
    div.close
        a.fa.fa-close(ng-click='planners.list()')
    div.tasks
        ul
            li
                a.fa.fa-cubes(ng-click='planners.api()') &nbsp;Scan services
        .clearfix
    div(ng-repeat='task in planner.api')
        span {{task}}
    p.offset
        span.hide.loader.fa.fa-spinner
        span.hide.message
    br

