article.form.animate(ng-show='notifiers.env.view==\'form\'')
    .title
        h2(ng-show='notifiers.env.type==\'collection\'',ng-bind='\'Add a Notifier\'')
        h2(ng-show='notifiers.env.type==\'element\'',ng-bind='\'Edit: \'+notifier.id')
        .close
            a.fa.fa-close(ng-click='notifiers.list()')
    .body
        form(ng-submit='notifiers.save()')
            p
                label Name
                input(type='text',placeholder='The name for the notifier',required,ng-model='notifier.id')
            p
                label Host
                input(type='text',placeholder='The host or a IP of your notifier',required,ng-model='notifier.notifier.host')
            p
                label Port
                input(type='number',placeholder='The port for the notifier',min=1,max=65535,required,ng-model='notifier.notifier.port')
            p.offset.load
                span.hide.loader.fa.fa-spinner.fa-spin
                span.hide.message
            p.offset
                button(type='submit') Save
                button(type='button',ng-click='notifiers.check()') Test

