div.container
    div.row
        div.col-md-8(role='main')
            section
                h1 Fetching
                h2 New repository
                form.form-horizontal(role='form',action='')
                    div.form-group
                        label.col-sm-2.control-label Name
                        div.col-sm-10
                            input.form-control(type='text')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-default(type='submit') Create
        div.col-md-4
            ul.list-group
                li.list-group-item: a(href='/') New repository
            ul.list-group
                li.list-group-item: a(href='/') asdflajsd l
                li.list-group-item: a(href='/') asdflajsd l
                li.list-group-item: a(href='/') asdflajsd l
                li.list-group-item: a(href='/') asdflajsd l
                li.list-group-item: a(href='/') asdflajsd l

