div.container
    div.row
        div.col-md-8(role='main')
            section
                h1 Settings
                h2 CouchDB Settings
                form.form-horizontal(role='form')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='text')
        div.col-md-4
            ul.nav
                li: a(href='/') CouchDB Settings

