article.list
    div.tasks
        ul
            li(ng-click='notifiers.add()')
                span.fa.fa-plus
                span Add Notifier
            li(ng-click='notifiers.refresh(1)')
                span.fa.fa-refresh
                span Refresh
        .clearfix
    table
        thead
            tr
                th Name
                th Host
                th.status &nbsp;
                th.status &nbsp;
                th.status &nbsp;
                th.options &nbsp;
        tbody
            tr(ng-repeat='notifier in storage.notifiers')
                td
                    a(ng-click='notifiers.view($index)') {{notifier.id|truncate:16}}
                td {{notifier.notifier.host}}:{{notifier.notifier.port}}
                td.status
                    span.fa(title='Notifier type: {{notifier.type}}',ng-class='{\'fa-bullhorn\':notifier.type==\'io\'}')
                td.status
                    span.fa(title='Notifier connection: {{notifier.check}}',ng-class='{\'fa-check\':notifier.check==\'online\',\'fa-question\':notifier.check==\'unknown\',\'fa-close\':notifier.check==\'offline\'}')
                td.status
                    a.fa.fa-recycle(title='Clean all connections',ng-click='notifiers.planners.clean($index)')
                td.options
                    a.fa.fa-refresh(title='Check connection',ng-click='notifiers.check($index)',ng-class='{\'fa-spin\':notifier.check==\'checking\'}')
                    a.fa.fa-edit(title='Edit properties',ng-hide='notifier.readonly',ng-click='notifiers.edit($index)')
                    a.fa.fa-trash(title='Remove element',ng-hide='notifier.readonly',ng-click='notifiers.remove($index)')

