center
    table(style='max-width:640px;border-collapse:collapse;')
        thead
            tr(style='background-color:#b5c9ab;')
                td(align='center',colspan='3',style='padding:20px 0;')
                    img(src='cid:logo@pleni')
        tbody
            tr
                td(style='background-color:#b5c9ab;width:20px;') &nbsp;
                td(style='padding:20px')
                    h1(style='color:#658068') Welcome to Pleni
                    p Thanks for signing up!
                    p Now that you've successfully created an Pleni account, you're ready to start.
                    p You must follow this link to activate your account:
                    p #{site}#{confirm}
                    p Have fun, and don't hesitate to contact us with your feedback.
                    p To learn more about Pleni and all its features, check out the #{site}/#/pages/started
                td(style='background-color:#b5c9ab;width:20px;') &nbsp;
        tfoot
            tr(style='background-color:#b5c9ab;')
                td(colspan='3',style='height:20px;')

