doctype html
html(lang='en')
    head
        title ⤻ ᴾᴸᴱᴺᴵ ₛᵢₜₑₛ ⤻ ⛁
        block link
    body(ng-app='PleniApp')
        include ./blocks/menu
        #content.blocked(ng-view)
        block script

