article.form(ng-show='workspace.env.panel==\'repositories\'')
    .title
        h2 Repositories configuration
    .body
        form
            div(ng-repeat='dbserver in storage.dbservers')
                .row
                    ul.group
                        li.link(title='Show/hide list of repositories',ng-click='repositories.toggle($index)')
                            a.fa(ng-class='{\'fa-minus-square\':dbserver.toggle==\'show\',\'fa-plus-square\':dbserver.toggle==\'hide\'}')
                        li.link(title='Scan repositories in database server',ng-click='repositories.scan($index)')
                            a.fa.fa-refresh(ng-class='{\'fa-spin\':dbserver.check==\'scanning\'}')
                        li
                            span.fa(title='Server connection: {{dbserver.check}}',ng-class='{\'fa-question\':dbserver.check==\'scanning\',\'fa-check\':dbserver.check==\'online\',\'fa-close\':dbserver.check==\'offline\'}')
                    h3 {{dbserver.id}} ({{dbserver.db.prefix}})
                .row(ng-repeat='repository in dbserver.repositories',ng-show='dbserver.toggle==\'show\'')
                    label {{repository.name}}
                    ul.group
                        li.link
                            a.fa.fa-plus-circle(title='Add repository to workspace',ng-click='repositories.add(dbserver.id,$index)')
                    span.extra {{repository.params.data_size}} / {{repository.params.doc_count}} docs
            p.offset
                button(type='button',ng-click='workspace.close()') Close

