header(ng-controller='HeaderController')
    nav.grid
        ul.left
            li(ng-class='status(1)'): a(href='/#/home') Home
        ul.right
            li(ng-class='status(2)'): a(ng-click='signout()',accesskey='q') Sign out
        .clearfix

