header(ng-controller='HeaderController')
    nav.grid
        ul.left
            li(ng-class='status(1)'): a(href='/#/home') Home
        ul.right
            li(ng-class='status(5)'): a(ng-click='signout()') Sign out
            li(ng-class='status(6)'): a(href='/#/signin') Sign in
        .clearfix

