footer(ng-controller='SocketController')
    .wrapper
        .control
            .tabs
                .tab(ng-repeat='thread in threads')
                    .fa.fa-circle
                    .fa.fa-play
                    .text localhost
            .bar
                .fa.fa-circle
                .set site/summarize
                .count 100
                .interval 3000
                .fa.fa-play
                .msg Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                a.run.fa.fa-stop

