footer(ng-controller='SocketController')
    .wrapper
        .control
            .tabs
                .tab(ng-repeat='thread in storage.threads')
                    .fa(ng-class='{\'fa-circle\':thread.set.status==\'set\',\'fa-question\':thread.set.status==\'unknown\',\'fa-circle-o\':thread.set.status==\'unset\'}')
                    .fa(ng-class='{\'fa-play\':thread.status==\'running\',\'fa-question\':thread.status==\'unknown\',\'fa-stop\':thread.status==\'stopped\'}')
                    .text(ng-click='pick($index)') {{thread.id}}
            .bar(ng-show='thread')
                .fa(ng-class='{\'fa-circle\':thread.set.status==\'set\',\'fa-question\':thread.set.status==\'unknown\',\'fa-circle-o\':thread.set.status==\'unset\'}')
                .set {{thread.set.name}}
                .count {{thread.set.count}}
                .interval {{thread.set.interval}}
                .fa(ng-class='{\'fa-play\':thread.status==\'running\',\'fa-question\':thread.status==\'unknown\',\'fa-stop\':thread.status==\'stopped\'}')
                .msg {{thread.msg}}
                a.run.fa.fa-stop(ng-click='stop()')

