footer(ng-controller='SocketController')
    nav
        div.notifier
        ul
            li: a(target='_BLANK',href='http://hiperborea.com.bo') Hiperbórea
            li: a(target='_BLANK',href='http://github.com/hiperborea/pleni') Source code
        .clearfix

