article.remove.animate(ng-show='repositories.env.view==\'remove\'')
    .title
        h2 Remove Repository
        .close
            a.fa.fa-close(ng-click='repositories.list()')
    .body
        form(ng-submit='repositories.delete()')
            p.large Press the button if you want remove the registry for the repository.
            p.offset
                span.hide.loader.fa.fa-spinner.fa-spin
                span.hide.message
            p.offset
                button(type='submit') Remove

