div(ng-controller='MenuController')
    nav.pushy.pushy-left
        ul
            li(ng-show='items.more')
                a +20 pages
            li(ng-show='items.mapsite')
                a Export mapsite
            li(ng-show='items.report')
                a Generate report
            li(ng-show='items.close')
                a Close session
            li(ng-show='items.home')
                a(ng-click='home()') Return home
            li(ng-show='items.about')
                a(ng-click='about()') About pleni
    .site-overlay
        .close.fa.fa-close

    .menubar
        .menu.fa.fa-bars(ng-click='menu()')

