.viewer(ng-show='storage.workspace.viewer==\'files\'')
    .list(ng-class='viewers.document==null? \'fully\':\'half\'')
        .tools
            .left
                select(ng-model='viewers.filters[2][0]',ng-change='repositories.files(true)')
                    option(value='ALL') All mimetypes
                    option(ng-repeat='(mimetype,count) in viewers.mimetypes',value='{{mimetype}}',ng-bind='mimetype+\' (\'+count+\')\'')
                select(ng-model='viewers.filters[2][1]',ng-change='repositories.files(true)')
                    option(value='ALL') All types
                    option(value='wait') Wait files
                    option(value='complete') Complete files
                    option(value='monitoring') Monitoring files
            ul.right
                li(ng-class='{\'disabled\':viewers.offset==0}',title='First page'): a.fa.fa-step-backward(ng-click='repositories.pagination_first()')
                li(ng-class='{\'disabled\':viewers.offset==0}',title='Previous page'): a.fa.fa-backward(ng-click='repositories.pagination_previous()')
                li(ng-class='{\'disabled\':viewers.offset+viewers.limit>=viewers.total}',title='Next page'): a.fa.fa-forward(ng-click='repositories.pagination_next()')
                li(ng-class='{\'disabled\':viewers.offset+viewers.limit>=viewers.total}',title='Last page'): a.fa.fa-step-forward(ng-click='repositories.pagination_last()')
        .table
            .item.file(ng-repeat='item in viewers.collection',ng-class='{\'selected\':item.id==viewers.document._id}',ng-click='repositories.file(item.id)')
                .type.fa(ng-class='{\'fa-circle\':item.status==\'complete\',\'fa-circle-o\':item.status==\'wait\',\'fa-eye\':item.status==\'monitoring\'}')
                .date(ng-bind='item.ts_modified')
                .mimetype(ng-bind='item.mimetype')
                .filesize(ng-bind='item.filesize')
                .url(ng-bind='item.file')
                .status(ng-class='viewers.classcodes(item.statuscode)',ng-bind='item.statuscode')
                .clearfix
            .item.total(ng-bind='(viewers.total==0?0:viewers.offset+1) +\'-\'+ (Math.min(viewers.total,viewers.offset+viewers.limit)) +\' of \'+ viewers.total')
        .separator
    .details(ng-class='viewers.document==null? \'none\':\'half\'')

