.report(ng-show='storage.workspace.viewer==\'report\'')
    h1 basic report
    h2 Header Information
    table
        tr
            td(colspan='3')
                h2 Server Header
        tr(ng-repeat='h1 in viewers.report.header_server')
            th(colspan='2') {{h1.key}}
            td {{h1.value}}
        tr
            td(colspan='3')
                Status Header
        tr(ng-repeat='h1 in viewers.report.header_status')
            th(colspan='2') {{h1.key}}
            td {{h1.value}}
        tr
            td(colspan='3') Content-Type Header
        tr(ng-repeat='h1 in viewers.report.header_contenttype')
            th(colspan='2') {{h1.key}}
            td {{h1.value}}
        tr
            td(colspan='3') Powered-By Header
        tr(ng-repeat='h1 in viewers.report.header_poweredby')
            th(colspan='2') {{h1.key}}
            td {{h1.value}}
        thead
    h2 Link Relations
    table
        thead
            tr
                th(colspan='3')
                    h3 Internal Links
        tbody
            tr(ng-repeat='h2 in viewers.report.refs')
                th {{h2.key[0]}}
                td {{h2.key[1]}}
                td.right {{h2.value}}
        thead
            tr
                th(colspan='3')
                    h3 External Links
        tbody
            tr(ng-repeat='h2 in viewers.report.rels')
                th {{h2.key[0]}}
                td {{h2.key[1]}}
                td.right {{h2.value}}
    h2 Hash List
    table
        tr(ng-repeat='h3 in viewers.report.hashes')
            th {{h3.key}}
            td.monospaced {{h3.value[0]}}
            td.monospaced {{h3.value[1]}}

