.viewer(ng-show='storage.workspace.viewer==\'reports\'')
    .list(ng-class='viewers.document==null? \'fully\':\'half\'')
        .tools
        .table
            .item.report(ng-repeat='item in viewers.collection',ng-class='{\'selected\':item.id==viewers.document._id}',ng-click='repositories.report(item.id)')
                .date(ng-bind='item.ts_created')
                .count(ng-bind='item.pages+\' pages\'')
                .count(ng-bind='item.files+\' files\'')
                .count(ng-bind='item.total+\' documents\'')
                .clearfix
        .foot
            ul.left
                li: span(ng-bind='(viewers.total==0?0:viewers.offset+1) +\'-\'+ (Math.min(viewers.total,viewers.offset+viewers.limit)) +\' of \'+ viewers.total')
            ul.right
                li(ng-class='{\'disabled\':viewers.offset==0}',title='First page'): a.fa.fa-step-backward(ng-click='repositories.pagination_first()')
                li(ng-class='{\'disabled\':viewers.offset==0}',title='Previous page'): a.fa.fa-backward(ng-click='repositories.pagination_previous()')
                li(ng-class='{\'disabled\':viewers.offset+viewers.limit>=viewers.total}',title='Next page'): a.fa.fa-forward(ng-click='repositories.pagination_next()')
                li(ng-class='{\'disabled\':viewers.offset+viewers.limit>=viewers.total}',title='Last page'): a.fa.fa-step-forward(ng-click='repositories.pagination_last()')
    .details(ng-class='viewers.document==null? \'none\':\'half\'')
        .separator
        .table.report
            h1 Header Information
            table
                tr
                    th.text-left(colspan='3')
                        h2 Server Header
                tr(ng-repeat='t in viewers.document.server')
                    th.text-left(colspan='2',ng-bind='t[0]')
                    td.text-center(ng-bind='t[1]')
                tr
                    th.text-left(colspan='3')
                        h2 Status Header
                tr(ng-repeat='t in viewers.document.statuscode')
                    th.text-left(colspan='2',ng-bind='t[0]')
                    td.text-center(ng-bind='t[1]')
                tr
                    th.text-left(colspan='3')
                        h2 Content-Type Header
                tr(ng-repeat='t in viewers.document.contenttype')
                    th.text-left(colspan='2',ng-bind='t[0]')
                    td.text-center(ng-bind='t[1]')
                tr
                    th.text-left(colspan='3')
                        h2 Powered-By Header
                tr(ng-repeat='t in viewers.document.poweredby')
                    th.text-left(colspan='2',ng-bind='t[0]')
                    td.text-center(ng-bind='t[1]')
            h1 Link Relations
            table
                tr
                    th.text-left(colspan='3')
                        h2 Internal Links
                tr(ng-repeat='t in viewers.document.rels')
                    th.text-center(ng-bind='t[0]')
                        td.text-left(ng-bind='(t[1]|truncate:128)')
                    td.text-center(ng-bind='t[2]')
                tr
                    th.text-left(colspan='3')
                        h2 External Links
                tr(ng-repeat='t in viewers.document.refs')
                    th.text-center(ng-bind='t[0]')
                    td.text-left(ng-bind='(t[1]|truncate:128)')
                    td.text-center(ng-bind='t[2]')
            h1 Hash List
            table
                tr(ng-repeat='t in viewers.document.hashes')
                    th.text-left(ng-bind='t[0]')
                    td.text-center.monospaced(ng-bind='t[1]')
                    td.text-center.monospaced(ng-bind='t[2]')

