.requests(ng-show='storage.workspace.viewer==\'requests\'')
    .row
        h1 Requests
        .item(ng-repeat='item in viewers.requests',ng-class='item.status')
            a.expand(ng-click='repositories.request(item.id)') ▶
            .date {{item.ts_created}}
            .date {{item.ts_modified}}
            .method {{item.request.method}}
            .url {{item.request.url}}
            .status {{item.response.status}}
            .clearfix

