.viewer(ng-show='storage.workspace.viewer==\'requests\'')
    .list(ng-class='viewers.document==null? \'fully\':\'half\'')
        .tools
            ul.left
                li(ng-class='{\'selected\':viewers.filters[0]}',title='Filter GET request'): a.fextra.pleni-extra-get(ng-click='repositories.filter(0)')
                li(ng-class='{\'selected\':viewers.filters[1]}',title='Filter HEAD request'): a.fextra.pleni-extra-head(ng-click='repositories.filter(1)')
                li(ng-class='{\'selected\':viewers.filters[2]}',title='Filter POST request'): a.fextra.pleni-extra-post(ng-click='repositories.filter(2)')
                li(ng-class='{\'selected\':viewers.filters[3]}',title='Filter PUT request'): a.fextra.pleni-extra-put(ng-click='repositories.filter(3)')
                li(ng-class='{\'selected\':viewers.filters[4]}',title='Filter DELETE request'): a.fextra.pleni-extra-delete(ng-click='repositories.filter(4)')
                li(ng-class='{\'selected\':viewers.filters[5]}',title='Filter TRACE request'): a.fextra.pleni-extra-trace(ng-click='repositories.filter(5)')
                li(ng-class='{\'selected\':viewers.filters[6]}',title='Filter OPTIONS request'): a.fextra.pleni-extra-options(ng-click='repositories.filter(6)')
                li(ng-class='{\'selected\':viewers.filters[7]}',title='Filter CONNECT request'): a.fextra.pleni-extra-connect(ng-click='repositories.filter(7)')
                li(ng-class='{\'selected\':viewers.filters[8]}',title='Filter PATCH request'): a.fextra.pleni-extra-patch(ng-click='repositories.filter(8)')
            ul.left
                li(ng-class='{\'selected\':viewers.filters[9]}',title='Filter 2xx response'): a.fextra.pleni-extra-2xx(ng-click='repositories.filter(9)')
                li(ng-class='{\'selected\':viewers.filters[10]}',title='Filter 3xx response'): a.fextra.pleni-extra-3xx(ng-click='repositories.filter(10)')
                li(ng-class='{\'selected\':viewers.filters[11]}',title='Filter 4xx response'): a.fextra.pleni-extra-4xx(ng-click='repositories.filter(11)')
                li(ng-class='{\'selected\':viewers.filters[12]}',title='Filter 5xx response'): a.fextra.pleni-extra-5xx(ng-click='repositories.filter(12)')
            ul.left
                li(ng-class='{\'selected\':viewers.filters[13]}',title='Filter wait request'): a.fextra.pleni-extra-wait(ng-click='repositories.filter(13)')
                li(ng-class='{\'selected\':viewers.filters[14]}',title='Filter lock request'): a.fextra.pleni-extra-lock(ng-click='repositories.filter(14)')
                li(ng-class='{\'selected\':viewers.filters[15]}',title='Filter complete request'): a.fextra.pleni-extra-complete(ng-click='repositories.filter(15)')
        .table
            .item.request(ng-repeat='item in viewers.collection',ng-class='{\'selected\':item.id==viewers.document._id}',ng-click='repositories.request(item.id)')
                .type.fa(ng-class='{\'fa-circle\':item.status==\'complete\',\'fa-circle-o\':item.status==\'wait\',\'fa-dot-circle-o\':item.status==\'lock\'}')
                .date {{item.ts_modified}}
                .method {{item.request.method}}
                .url {{item.request.url}}
                .status(ng-class='viewers.classcodes(item.response.status)',ng-bind='item.response.status')
                .clearfix
        .separator
    .details(ng-class='viewers.document==null? \'none\':\'half\'')
        .request
            p {{viewers.document.request.method}} {{viewers.document.request.url}} HTTP/1.1
            p(ng-repeat='(header,value) in viewers.document.request.headers') {{header}}: {{value}}
        .response(ng-show='viewers.document.response')
            p {{viewers.document.response.status}} {{viewers.document.response.status|statuscode}}
            p(ng-repeat='(header,value) in viewers.document.response.headers') {{header}}: {{value}}
        .body
            p {{viewers.document.response.body}}

