.viewer(ng-show='storage.workspace.viewer==\'requests\'')
    .list(ng-class='viewers.document==null? \'fully\':\'half\'')
        .tools
            ul.left
                li(title='Filter GET request'): a.fextra.pleni-extra-get
                li(title='Filter HEAD request'): a.fextra.pleni-extra-head
                li(title='Filter POST request'): a.fextra.pleni-extra-post
                li(title='Filter PUT request'): a.fextra.pleni-extra-put
                li(title='Filter DELETE request'): a.fextra.pleni-extra-delete
                li(title='Filter TRACE request'): a.fextra.pleni-extra-trace
                li(title='Filter OPTIONS request'): a.fextra.pleni-extra-options
                li(title='Filter CONNECT request'): a.fextra.pleni-extra-connect
                li(title='Filter PATCH request'): a.fextra.pleni-extra-patch
            ul.left
                li(title='Filter 2xx response'): a.fextra.pleni-extra-2xx
                li(title='Filter 3xx response'): a.fextra.pleni-extra-3xx
                li(title='Filter 4xx response'): a.fextra.pleni-extra-4xx
                li(title='Filter 5xx response'): a.fextra.pleni-extra-5xx
        .table
            .item.request(ng-repeat='item in viewers.collection',ng-class='{\'selected\':item.id==viewers.document._id}',ng-click='repositories.request(item.id)')
                .type.fa(ng-class='{\'fa-circle\':item.status==\'complete\',\'fa-circle-o\':item.status==\'wait\',\'fa-dot-circle-o\':item.status==\'lock\'}')
                .date {{item.ts_modified}}
                .method {{item.request.method}}
                .url {{item.request.url}}
                .status(ng-class='viewers.classcodes(item.response.status)',ng-bind='item.response.status')
                .clearfix
        .separator
    .details(ng-class='viewers.document==null? \'none\':\'half\'')
        .request
            p {{viewers.document.request.method}} {{viewers.document.request.url}} HTTP/1.1
            p(ng-repeat='(header,value) in viewers.document.request.headers') {{header}}: {{value}}
        .response(ng-show='viewers.document.response')
            p {{viewers.document.response.status}} {{viewers.document.response.status|statuscode}}
            p(ng-repeat='(header,value) in viewers.document.response.headers') {{header}}: {{value}}
        .body
            p {{viewers.document.response.body}}

