.viewer(ng-show='storage.workspace.viewer==\'requests\'')
    .list(ng-class='viewers.document==null? \'fully\':\'half\'')
        .item(ng-repeat='item in viewers.requests',ng-class='{\'selected\':item.id==viewers.document._id}',ng-click='repositories.request(item.id)')
            .type.fa(ng-class='{\'fa-circle\':item.status==\'complete\',\'fa-circle-o\':item.status==\'wait\',\'fa-dot-circle-o\':item.status==\'lock\'}')
            .date {{item.ts_created}}
            .date {{item.ts_modified}}
            .method {{item.request.method}}
            .url {{item.request.url}}
            .status(ng-class='viewers.classcodes(item.response.status)',ng-bind='item.response.status')
            .clearfix
    .details(ng-class='viewers.document==null? \'none\':\'half\'')
        .separator
        .request
            p {{viewers.document.request.method}} {{viewers.document.request.url}} HTTP/1.1
            p(ng-repeat='(header,value) in viewers.document.request.headers') {{header}}: {{value}}
        .response(ng-show='viewers.document.response')
            p {{viewers.document.response.status}} {{viewers.document.response.status|statuscode}}
            p(ng-repeat='(header,value) in viewers.document.response.headers') {{header}}: {{value}}
        .body
            p {{viewers.document.response.body}}

