.viewer(ng-show='storage.workspace.viewer==\'requests\'')
    .list(ng-class='viewers.request==null? \'fully\':\'half\'')
        h1 Requests
        .item(ng-repeat='item in viewers.requests',ng-class='item.status')
            a.expand(ng-click='repositories.request(item.id)') ▶
            .date {{item.ts_created}}
            .date {{item.ts_modified}}
            .method {{item.request.method}}
            .url {{item.request.url}}
            .status {{item.response.status}}
            .clearfix
    .details(ng-class='viewers.request==null? \'none\':\'half\'')
        .request
            p {{viewers.request.url}} HTTP/1.1
            p Host: galao.local
            p User-Agent: curl/7.44.0
            p Accept: */*
        .response
            p < HTTP/1.1 200 OK
            p < Server: nginx/1.9.3
            p < Date: Sun, 30 Aug 2015 00:36:44 GMT
            p < Content-Type: text/html
            p < Content-Length: 921
            p < Last-Modified: Thu, 16 Oct 2014 12:48:03 GMT
            p < Connection: keep-alive
            p < Keep-Alive: timeout=20
            p < ETag: "543fbe83-399"
            p < Accept-Ranges: bytes
        .body
            p body

