.viewer(ng-show='storage.workspace.viewer==\'summary\'')
    .tools
        ul.left
            li: a.ftasks.pleni-site-summarize(title='Update summary information',ng-click='repositories.summarize()')
            li: a.ftasks.pleni-site-remove(title='Delete repository',ng-click='repositories.remove()')
        ul.right
            li: a.fa.fa-trash(title='Remove from workspace',ng-click='repositories.close()')
    dl
        dt(ng-repeat-start='(key,value) in viewers.document',ng-bind='(key|pretty)+\':\'')
        dd(ng-repeat-end,ng-bind='(value|render:key)')

