.summary(ng-show='storage.workspace.viewer==\'summary\'')
    h1 summary
    table
        tbody
            tr
                th Url:
                td {{viewers.summary.url}}
            tr
                th Type:
                td {{viewers.summary.type}}
            tr
                th Created:
                td {{viewers.summary.ts_created}}
            tr
                th Modified:
                td {{viewers.summary.ts_modified}}

