.summary(ng-show='storage.workspace.viewer==\'summary\'')
    .row
        h1 summary
        dl
            dt(ng-repeat-start='(key,value) in viewers.summary') {{key}}:
            dd(ng-repeat-end) {{value}}

