extends ./base.jade

block link
    link(rel='stylesheet',href='/css/planner.css')

block script
    script(src='/jquery/dist/jquery.min.js')
    script(src='/json-human/src/json.human.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/js/planner.js')
    script(src='http://localhost:35729/livereload.js')

