extends ./base.jade

block link
    link(rel='stylesheet',href='/style.css')

block script
    script(src='/js/jquery.min.js')
    script(src='/js/socket.io.min.js')
    script(src='/js/planner.min.js')

