div.jumbotron
    div.container
        h1 Pleni
            br
            small in hacking potencier!!
div.container
    div.row
        div.col-md-4
            h2 Fetching
            p
                a.btn.btn-primary(role='button') Go
        div.col-md-4
            h2 Analize
            p
                a.btn.btn-primary(role='button') Go
        div.col-md-4
            h2 Automate
            p
                a.btn.btn-primary(role='button') Go

