div.container
    div.row
        div.col-md-8(role='main')
            section
                h1 Settings
                h2 CouchDB Settings
                form.form-horizontal(role='form')
                    div.form-group
                        label.col-sm-2.control-label Host
                        div.col-sm-10
                            input.form-control(type='text',ng-init='host="#{host}"',ng-model='host')
                    div.form-group
                        label.col-sm-2.control-label Port
                        div.col-sm-10
                            input.form-control(type='text',ng-init='port="#{port}"',ng-model='port')
                    div.form-group
                        label.col-sm-2.control-label Suffix
                        div.col-sm-10
                            input.form-control(type='text',ng-init='suffix="#{suffix}"',ng-model='suffix')
                    div.form-group
                        div.col-sm-offset-2.col-sm-10
                            button.btn.btn-primary(type='submit') Save
                            button.btn.btn-default(type='submit',ng-click='testdb()') Test Connection
                div#test.alert.alert-info.hide
                    p Testing on {{host}}:{{port}}
        div.col-md-4.hidden-xs
            ul.nav
                li: a(href='/') CouchDB Settings

